{
  "log": {
    "_recordingName": "reports/should be able to query get report list",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.2.1"
    },
    "entries": [
      {
        "_id": "42d158f19f642ff1da025e065b80d080",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "AWSAccessKeyId=x&Action=GetReportList&MWSAuthToken=x&SellerId=x&Signature=v4wq9Vx0QnT27OVtlG2xaSRT7lz2oxRJMR6aaxwhxvc%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2020-06-11T08%3A14%3A19.826Z&Version=2009-01-01"
          },
          "queryString": [],
          "url": "https://mws.amazonservices.ca/Reports/2009-01-01"
        },
        "response": {
          "content": {
            "mimeType": "text/xml",
            "size": 1835,
            "text": "<?xml version=\"1.0\"?>\n<GetReportListResponse xmlns=\"http://mws.amazonaws.com/doc/2009-01-01/\">\n  <GetReportListResult>\n    <HasNext>false</HasNext>\n    <ReportInfo>\n      <ReportType>_GET_MERCHANT_LISTINGS_DATA_</ReportType>\n      <Acknowledged>false</Acknowledged>\n      <ReportId>21175694446018424</ReportId>\n      <ReportRequestId>51781018424</ReportRequestId>\n      <AvailableDate>2020-06-11T07:44:32+00:00</AvailableDate>\n    </ReportInfo>\n    <ReportInfo>\n      <ReportType>_GET_FLAT_FILE_OPEN_LISTINGS_DATA_</ReportType>\n      <Acknowledged>false</Acknowledged>\n      <ReportId>21178489344018424</ReportId>\n      <ReportRequestId>51780018424</ReportRequestId>\n      <AvailableDate>2020-06-11T07:41:56+00:00</AvailableDate>\n    </ReportInfo>\n    <ReportInfo>\n      <ReportType>_GET_V2_SETTLEMENT_REPORT_DATA_FLAT_FILE_</ReportType>\n      <Acknowledged>false</Acknowledged>\n      <ReportId>20812705939018404</ReportId>\n      <ReportRequestId>51778018404</ReportRequestId>\n      <AvailableDate>2020-05-22T08:16:14+00:00</AvailableDate>\n    </ReportInfo>\n    <ReportInfo>\n      <ReportType>_GET_V2_SETTLEMENT_REPORT_DATA_FLAT_FILE_</ReportType>\n      <Acknowledged>false</Acknowledged>\n      <ReportId>20303555135018376</ReportId>\n      <ReportRequestId>51777018376</ReportRequestId>\n      <AvailableDate>2020-04-24T08:10:54+00:00</AvailableDate>\n    </ReportInfo>\n    <ReportInfo>\n      <ReportType>_GET_V2_SETTLEMENT_REPORT_DATA_FLAT_FILE_</ReportType>\n      <Acknowledged>false</Acknowledged>\n      <ReportId>19571121666018334</ReportId>\n      <ReportRequestId>51776018334</ReportRequestId>\n      <AvailableDate>2020-03-13T08:21:03+00:00</AvailableDate>\n    </ReportInfo>\n  </GetReportListResult>\n  <ResponseMetadata>\n    <RequestId>27023624-21fe-4b00-b057-32fb54c4dc7c</RequestId>\n  </ResponseMetadata>\n</GetReportListResponse>\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/xml"
            },
            {
              "name": "x-mws-quota-max",
              "value": "60.0"
            },
            {
              "name": "x-mws-quota-remaining",
              "value": "60.0"
            },
            {
              "name": "x-mws-quota-resetso[...]
