{
  "log": {
    "_recordingName": "Orders/should be able to query service status",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.2.1"
    },
    "entries": [
      {
        "_id": "336d0ff37652b74fdc4652dcf6d5f83f",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "AWSAccessKeyId=x&Action=GetServiceStatus&MWSAuthToken=x&SellerId=x&Signature=qRvakeRoKeLMRzyzP3KTbDbnkodGqkt2EWZVGDfHBi0%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2020-05-28T11%3A28%3A53.417Z&Version=2013-09-01"
          },
          "queryString": [],
          "url": "https://mws.amazonservices.ca/Orders/2013-09-01"
        },
        "response": {
          "content": {
            "mimeType": "text/xml",
            "size": 375,
            "text": "<?xml version=\"1.0\"?>\n<GetServiceStatusResponse xmlns=\"https://mws.amazonservices.com/Orders/2013-09-01\">\n  <GetServiceStatusResult>\n    <Status>GREEN</Status>\n    <Timestamp>2020-05-28T11:28:53.443Z</Timestamp>\n  </GetServiceStatusResult>\n  <ResponseMetadata>\n    <RequestId>e46403dc-a669-4864-b25f-52bee557bd5c</RequestId>\n  </ResponseMetadata>\n</GetServiceStatusResponse>\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/xml"
            },
            {
              "name": "x-mws-request-id",
              "value": "e46403dc-a669-4864-b25f-52bee557bd5c"
            },
            {
              "name": "x-mws-timestamp",
              "value": "2020-05-28T11:28:53.443Z"
            },
            {
              "name": "x-mws-response-context",
              "value": "Hioe2P8Mnb5gB+MqdBrWLtrxTXcH2I6mw3hNOBKL6oJn5oV4pQ1IP6iV2Ho3tH++cvXgrm/lH5Q="
            },
            {
              "name": "x-amz-rid",
              "value": "JW4TJCN0961NF9YE90ZB"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 32,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
