{
  "log": {
    "_recordingName": "Orders/should be able to query service status",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.2.1"
    },
    "entries": [
      {
        "_id": "336d0ff37652b74fdc4652dcf6d5f83f",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "AWSAccessKeyId=x&Action=GetServiceStatus&MWSAuthToken=x&SellerId=x&Signature=MU3%2FitVC%2BmiuVfV1XLQLvOnLnnjMEo%2FFrzeqX%2BKFOHY%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2020-05-28T11%3A22%3A25.916Z&Version=2013-09-01"
          },
          "queryString": [],
          "url": "https://mws.amazonservices.ca/Orders/2013-09-01"
        },
        "response": {
          "content": {
            "mimeType": "text/xml",
            "size": 375,
            "text": "<?xml version=\"1.0\"?>\n<GetServiceStatusResponse xmlns=\"https://mws.amazonservices.com/Orders/2013-09-01\">\n  <GetServiceStatusResult>\n    <Status>GREEN</Status>\n    <Timestamp>2020-05-28T11:22:26.535Z</Timestamp>\n  </GetServiceStatusResult>\n  <ResponseMetadata>\n    <RequestId>4331f1ec-e44d-4b0e-b9bb-0e6392ad7daa</RequestId>\n  </ResponseMetadata>\n</GetServiceStatusResponse>\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/xml"
            },
            {
              "name": "x-mws-request-id",
              "value": "4331f1ec-e44d-4b0e-b9bb-0e6392ad7daa"
            },
            {
              "name": "x-mws-timestamp",
              "value": "2020-05-28T11:22:26.535Z"
            },
            {
              "name": "x-mws-response-context",
              "value": "CR0km92ZzK7Az0FBwJCyKCVr+bNBfLC44sQWQsXjwAys3AFiF9ET0p4rVTporKclzEb1fvDVQ14="
            },
            {
              "name": "x-amz-rid",
              "value": "GA1B5V4MF4DBEE3QS0T8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 746,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
