{
  "log": {
    "_recordingName": "reports/should be able to request a report",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.2.1"
    },
    "entries": [
      {
        "_id": "42d158f19f642ff1da025e065b80d080",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "AWSAccessKeyId=x&Action=GetReport&MWSAuthToken=x&ReportId=20812705939018404&SellerId=x&Signature=Du76RmgSR3cn%2BrpCvKfimi5Bqic%2BChIZRcDGv7yidxI%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2020-06-11T08%3A01%3A49.704Z&Version=2009-01-01"
          },
          "queryString": [],
          "url": "https://mws.amazonservices.ca/Reports/2009-01-01"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 959,
            "text": "settlement-id\tsettlement-start-date\tsettlement-end-date\tdeposit-date\ttotal-amount\tcurrency\ttransaction-type\torder-id\tmerchant-order-id\tadjustment-id\tshipment-id\tmarketplace-name\tshipment-fee-type\tshipment-fee-amount\torder-fee-type\torder-fee-amount\tfulfillment-id\tposted-date\torder-item-code\tmerchant-order-item-id\tmerchant-adjustment-item-id\tsku\tquantity-purchased\tprice-type\tprice-amount\titem-related-fee-type\titem-related-fee-amount\tmisc-fee-am[...]
