{
  "log": {
    "_recordingName": "FulfillmentOutboundShipment/should be able to query service status",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.0.0"
    },
    "entries": [
      {
        "_id": "8f6e5ab65d9062ded6906c3f2c5f7f98",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "AWSAccessKeyId=x&Action=GetServiceStatus&MWSAuthToken=x&SellerId=x&Signature=wGpBfYmeTju0EQaBOJu1QTMWaTAa%2FrECM%2FI0KscJFos%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2020-07-17T07%3A10%3A53.724Z&Version=2010-10-01"
          },
          "queryString": [],
          "url": "https://mws.amazonservices.ca/Sellers/2010-10-01"
        },
        "response": {
          "content": {
            "mimeType": "text/xml",
            "size": 295,
            "text": "<?xml version=\"1.0\"?>\n<ErrorResponse xmlns=\"https://mws.amazonservices.com/\">\n  <Error>\n    <Type>Sender</Type>\n    <Code>InvalidAddress</Code>\n    <Message>Section Sellers/2010-10-01 is invalid</Message>\n  </Error>\n  <RequestID>1efa8db0-24aa-43f9-881f-9e7e140ad82e</RequestID>\n</ErrorResponse>\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/xml"
            },
            {
              "name": "x-mws-request-id",
              "value": "1efa8db0-24aa-43f9-881f-9e7e140ad82e"
            },
            {
              "name": "x-mws-timestamp",
              "value": "2020-07-17T07:10:53.934Z"
            },
            {
              "name": "x-mws-response-context",
              "value": "mDBBTze8vhuy+vqM5mNyiDPiLfGiGCq0/Q7AhDTy+Ei2PG28HG4GCpXPaLz0vD2zvSnpMuFIvzA="
            },
            {
              "name": "x-amz-rid",
              "value": "NC638SF38W5MH8AT4QZ0"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 238,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
