{
  "log": {
    "_recordingName": "FulfillmentOutboundShipment/should be able to query service status",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.0.0"
    },
    "entries": [
      {
        "_id": "a807c8b51c3faadc1b23ba02e1445571",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "AWSAccessKeyId=x&Action=GetServiceStatus&MWSAuthToken=x&SellerId=x&Signature=mAyxenTJ9YUJSEgbXq%2BvLsmHhc1Y3Kb14No2bk6QQAw%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2020-07-17T07%3A17%3A00.273Z&Version=2010-10-01"
          },
          "queryString": [],
          "url": "https://mws.amazonservices.ca/FulfillmentOutboundShipment/2010-10-01"
        },
        "response": {
          "content": {
            "mimeType": "text/xml",
            "size": 391,
            "text": "<?xml version=\"1.0\"?>\n<GetServiceStatusResponse xmlns=\"http://mws.amazonaws.com/FulfillmentOutboundShipment/2010-10-01/\">\n  <GetServiceStatusResult>\n    <Status>GREEN</Status>\n    <Timestamp>2020-07-17T07:17:00.562Z</Timestamp>\n  </GetServiceStatusResult>\n  <ResponseMetadata>\n    <RequestId>a8446c45-ae82-483f-83e3-4084519553e3</RequestId>\n  </ResponseMetadata>\n</GetServiceStatusResponse>\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/xml"
            },
            {
              "name": "x-mws-request-id",
              "value": "a8446c45-ae82-483f-83e3-4084519553e3"
            },
            {
              "name": "x-mws-timestamp",
              "value": "2020-07-17T07:17:00.562Z"
            },
            {
              "name": "x-mws-response-context",
              "value": "ODy9w4r5gGwQIi+jldav8CwBfpEb3nbCmKEzZZgpF5B3SQzVF7xSCIhPG3Vlyjh3RLw3AB7YApo="
            },
            {
              "name": "x-amz-rid",
              "value": "K0PP12JY5FXT54G1GG40"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 288,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
