{
  "log": {
    "_recordingName": "products/should get matching products of more than one asin",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.2.1"
    },
    "entries": [
      {
        "_id": "fce59ab670bbe63a5905cd9194c0ffe1",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "ASINList.ASIN.1=B00D6CMT12&ASINList.ASIN.2=B07L1G4YKT&ASINList.ASIN.3=B00J8NCVX4&AWSAccessKeyId=x&Action=GetMatchingProduct&MWSAuthToken=x&MarketplaceId=A2EUQ1WTGCTBG2&SellerId=x&Signature=ys%2FVlprnsxqV9ITfKdJFWBE5j%2Bf%2BWwl8o5WNRMz3e8g%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2020-06-02T11%3A56%3A33.656Z&Version=2011-10-01"
          },
          "queryString": [],
          "url": "https://mws.amazonservices.ca/Products/2011-10-01"
        },
        "response": {
          "content": {
            "mimeType": "text/xml",
            "size": 6934,
            "text": "<?xml version=\"1.0\"?><GetMatchingProductResponse xmlns=\"http://mws.amazonservices.com/schema/Products/2011-10-01\"><GetMatchingProductResult ASIN=\"B00D6CMT12\" status=\"Success\"><Product xmlns:ns2=\"http://mws.amazonservices.com/schema/Products/2011-10-01/default.xsd\"><Identifiers><MarketplaceASIN><MarketplaceId>A2EUQ1WTGCTBG2</MarketplaceId><ASIN>B00D6CMT12</ASIN></MarketplaceASIN></Identifiers><AttributeSets><ns2:ItemAttributes xml:lang=\"en-CA\"><ns2:Binding>Kitchen</ns2:Binding><ns2:Brand>Starfrit</ns2:Brand><ns2:Color>Red</ns2:Color><ns2:ItemDimensions><ns2:Height Units=\"inches\">2.952</ns2:Height><ns2:Length Units=\"inches\">0.59</ns2:Length><ns2:Width Units=\"inches\">11.023</ns2:Width></ns2:ItemDimensions><ns2:Label>Starfrit</ns2:Label><ns2:Languages><ns2:Language><ns2:Name>english</ns2:Name><ns2:Type>Unknown</ns2:Type></ns2:Language></ns2:Languages><ns2:Manufacturer>Starfrit</ns2:Manufacturer><ns2:MaterialType>Silicone</ns2:MaterialType><ns2:Model>093254</ns2:Model><ns2:PackageDimensions><ns2:Height Units=\"inches\">0.4724409444</ns2:Height><ns2:Length Units=\"inches\">9.9999999898</ns2:Length><ns2:Width Units=\"inches\">2.7559055090</ns2:Width><ns2:Weight Units=\"pounds\">0.0881849048</ns2:Weight></ns2:PackageDimensions><ns2:PackageQuantity>1</ns2:PackageQuantity><ns2:PartNumber>093254</ns2:PartNumber><ns2:ProductGroup>Kitchen</ns2:ProductGroup><ns2:ProductTypeName>KITCHEN</ns2:ProductTypeName><ns2:PublicationDate>2013-06-10</ns2:PublicationDate><ns2:Publisher>Starfrit</ns2:Publisher><ns2:Size>Medium</ns2:Size><ns2:SmallImage><ns2:URL>https://m.media-amazon.com/images/I/31oe1i6qvuL._SL75_.jpg</ns2:URL><ns2:Height Units=\"pixels\">75</ns2:Height><ns2:Width Units=\"pixels\">75</ns2:Width></ns2:SmallImage><ns2:Studio>Starfrit</ns2:Studio><ns2:Title>Starfrit Silicone and Nylon Spatula, Medium, Red</ns2:Title></ns2:ItemAttributes></AttributeSets><Relationships><VariationParent><Identifiers><MarketplaceASIN><MarketplaceId>A2EUQ1WTGCTBG2</MarketplaceId><ASIN>B00EHI8UBM</ASIN></MarketplaceASIN></Identifiers></VariationParent></Relationships><SalesRankings><SalesRank><ProductCategoryId>kitchen_display_on_website</ProductCategoryId><Rank>597</Rank></SalesRank><SalesRank><ProductCategoryId>6647554011</ProductCategoryId><Rank>4</Rank></SalesRank></SalesRankings></Product></GetMatchingProductResult><GetMatchingProductResult ASIN=\"B07L1G4YKT\" status=\"Success\"><Product xmlns:ns2=\"http://mws.amazonservices.com/schema/Products/2011-10-01/default.xsd\"><Identifiers><MarketplaceASIN><MarketplaceId>A2EUQ1WTGCTBG2</MarketplaceId><ASIN>B07L1G4YKT</ASIN></MarketplaceASIN></Identifiers><AttributeSets><ns2:ItemAttributes xml:lang=\"en-CA\"><ns2:Binding>Kitchen</ns2:Binding><ns2:Brand>Coson</ns2:Brand><ns2:Color>Silver</ns2:Color><ns2:ItemDimensions><ns2:Height Units=\"inches\">1.50</ns2:Height><ns2:Length Units=\"inches\">6.50</ns2:Length><ns2:Width Units=\"inches\">1.20</ns2:Width></ns2:ItemDimensions><ns2:Label>CHY</ns2:Label><ns2:ListPrice><ns2:Amount>30.00</ns2:Amount><ns2:CurrencyCode>CAD</ns2:CurrencyCode></ns2:ListPrice><ns2:Manufacturer>CHY</ns2:Manufacturer><ns2:MaterialType>Zinc</ns2:MaterialType><ns2:Model>CO07</ns2:Model><ns2:PackageDimensions><ns2:Height Units=\"inches\">1.3385826758</ns2:Height><ns2:Length Units=\"inches\">7.0078740086</ns2:Length><ns2:Width Units=\"inches\">2.0472440924</ns2:Width><ns2:Weight Units=\"pounds\">0.6172943336</ns2:Weight></ns2:PackageDimensions><ns2:PackageQuantity>1</ns2:PackageQuantity><ns2:PartNumber>CO07</ns2:PartNumber><ns2:Product[...]
