{
  "log": {
    "_recordingName": "subscriptions/should be able to create a subscription",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "2705f105dea6682c09dee8853cb9884d",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "AWSAccessKeyId=x&Action=RegisterDestination&Destination.AttributeList.member.1.Key=sqsQueueUrl&Destination.AttributeList.member.1.Value=https%3A%2F%2Fsqs.us-east-1.amazonaws.com%2F304786922662%2Fmws-sub-testw&Destination.DeliveryChannel=SQS&MWSAuthToken=x&MarketplaceId=A2EUQ1WTGCTBG2&SellerId=x&Signature=bhie0ENnWh37ZkQHFNfWAzZxoXdBSDtEYTAecuBjTgs%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2020-06-22T08%3A11%3A14.603Z&Version=2013-07-01"
          },
          "queryString": [],
          "url": "https://mws.amazonservices.ca/Subscriptions/2013-07-01"
        },
        "response": {
          "content": {
            "mimeType": "text/xml",
            "size": 269,
            "text": "<RegisterDestinationResponse xmlns=\"http://mws.amazonservices.com/schema/Subscriptions/2013-07-01\">\n  <RegisterDestinationResult/>\n  <ResponseMetadata>\n    <RequestId>ebdf257c-8c83-4b5c-a79e-492d0ae670a0</RequestId>\n  </ResponseMetadata>\n</RegisterDestinationResponse>\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/xml"
            },
            {
              "name": "x-mws-request-id",
              "value": "ebdf257c-8c83-4b5c-a79e-492d0ae670a0"
            },
            {
              "name": "x-mws-timestamp",
              "value": "2020-06-22T08:11:15.661Z"
            },
            {
              "name": "x-mws-response-context",
              "value": "XKLBsgrI94AtsUQdLhgxiGdmqNuupRrvu4EyxxenSrdwpod/wdDsc3uZ+Wm0pSYQ8juUMfHukWE="
            },
            {
              "name": "x-amz-rid",
              "value": "7V17FGWQEXQ7T381XG2C"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1411,
      },
      {
        "_id": "2705f105dea6682c09dee8853cb9884d",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "AWSAccessKeyId=x&Action=CreateSubscription&MWSAuthToken=x&MarketplaceId=A2EUQ1WTGCTBG2&SellerId=x&Signature=nli18ABhllI%2BbdlRwAQNohGuHfm4ALO9vRgIPqHQDMM%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Subscription.Destination.AttributeList.member.1.Key=sqsQueueUrl&Subscription.Destination.AttributeList.member.1.Value=https%3A%2F%2Fsqs.us-east-1.amazonaws.com%2F304786922662%2Fmws-sub-testw&Subscription.Destination.DeliveryChannel=SQS&Subscription.IsEnabled=true&Subscription.NotificationType=AnyOfferChanged&Timestamp=2020-06-22T08%3A11%3A16.018Z&Version=2013-07-01"
          },
          "queryString": [],
          "url": "https://mws.amazonservices.ca/Subscriptions/2013-07-01"
        },
        "response": {
          "content": {
            "mimeType": "text/xml",
            "size": 266,
            "text": "<CreateSubscriptionResponse xmlns=\"http://mws.amazonservices.com/schema/Subscriptions/2013-07-01\">\n  <CreateSubscriptionResult/>\n  <ResponseMetadata>\n    <RequestId>b91de062-c0aa-4da7-a031-6204eee3ae71</RequestId>\n  </ResponseMetadata>\n</CreateSubscriptionResponse>\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/xml"
            },
            {
              "name": "x-mws-request-id",
              "value": "b91de062-c0aa-4da7-a031-6204eee3ae71"
            },
            {
              "name": "x-mws-timestamp",
              "value": "2020-06-22T08:11:22.930Z"
            },
            {
              "name": "x-mws-response-context",
              "value": "3pLUbvlCwnPG9jv6gs07FSFopA7wq0OMBlk74qzNiENe13RA/IlBzZnHw7/L89FaFWpe/UhfTS4="
            },
            {
              "name": "x-amz-rid",
              "value": "7Q3GDN5E0899AGG8SEE6"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 7171,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
