{
  "log": {
    "_recordingName": "Feeds/should be able to get XML string from get submission result",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "5a6ba40da21717e76b8a9ccec14e29cf",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "AWSAccessKeyId=x&Action=GetFeedSubmissionResult&FeedSubmissionId=51793018437&MWSAuthToken=x&SellerId=x&Signature=Eh%2FISQ6FP21jkd5xw8u7Kk%2Fvt7ih6RekJzHQqvku0S0%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2020-06-25T04%3A17%3A07.056Z&Version=2009-01-01"
          },
          "queryString": [],
          "url": "https://mws.amazonservices.ca/Feeds/2009-01-01"
        },
        "response": {
          "content": {
            "mimeType": "text/xml;charset=UTF-8",
            "size": 767,
            "text": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<AmazonEnvelope xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:noNamespaceSchemaLocation=\"amzn-envelope.xsd\">\n\t<Header>\n\t\t<DocumentVersion>1.02</DocumentVersion>\n\t\t<MerchantIdentifier>x</MerchantIdentifier>\n\t</Header>\n\t<MessageType>ProcessingReport</MessageType>\n\t<Message>\n\t\t<MessageID>1</MessageID>\n\t\t<ProcessingReport>\n\t\t\t<DocumentTransactionID>51793018437</DocumentTransactionID>\n\t\t\t<StatusCode>Complete</StatusCode>\n\t\t\t<ProcessingSummary>\n\t\t\t\t<MessagesProcessed>1</MessagesProcessed>\n\t\t\t\t<MessagesSuccessful>1</MessagesSuccessful>\n\t\t\t\t<MessagesWithError>0</MessagesWithError>\n\t\t\t\t<MessagesWithWarning>0</MessagesWithWarning>\n\t\t\t</ProcessingSummary>\n\t\t</ProcessingReport>\n\t</Message>\n</AmazonEnvelope>"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/xml;charset=UTF-8"
            },
            {
              "name": "x-mws-quota-max",
              "value": "60.0"
            },
            {
              "name": "x-mws-quota-remaining",
              "value": "60.0"
            },
            {
              "name": "x-mws-quota-resetson",
              "value": "2020-06-25T05:12:00.000Z"
            },
            {
              "name": "content-md5",
              "value": "FpVKsK8kc9xwhwjoVLkt4Q=="
            },
            {
              "name": "x-mws-response-context",
              "value": "1g7WSTOuYuZGqBY5HJul4TXaEujlG5QYo8V8yOCoN5YNSoeKe8VYKRfCyxUOghLbwFw27bOPqpM=, yIOMR8VQSDoQj3EQ9On7LCLPAWi44rOM56gvLbxL+Mw5RhoYJ+y6xM74Q9dckNw0EDrDuA9NeJE="
            },
            {
              "name": "x-amz-request-id",
              "value": "e691a780-9ccb-4956-8eb5-cd70dba93f11"
            },
            {
              "name": "x-mws-request-id",
              "value": "e691a780-9ccb-4956-8eb5-cd70dba93f11"
            },
            {
              "name": "x-mws-timestamp",
              "value": "2020-06-25T04:17:08.223Z"
            },
            {
              "name": "x-amz-rid",
              "value": "Z1HXV8XDAMFG9N2GXXZZ"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1278,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
