{
  "log": {
    "_recordingName": "Feeds/should be able to list feed submission list",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "5a6ba40da21717e76b8a9ccec14e29cf",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "AWSAccessKeyId=x&Action=GetFeedSubmissionList&MWSAuthToken=x&SellerId=x&Signature=mP7uh2KGbcsO7oHf81yJQDNZmNAMrEu3iqOdIeLd3DA%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2020-06-23T13%3A43%3A19.737Z&Version=2009-01-01"
          },
          "queryString": [],
          "url": "https://mws.amazonservices.ca/Feeds/2009-01-01"
        },
        "response": {
          "content": {
            "mimeType": "text/xml",
            "size": 337,
            "text": "<?xml version=\"1.0\"?>\n<GetFeedSubmissionListResponse xmlns=\"http://mws.amazonaws.com/doc/2009-01-01/\">\n  <GetFeedSubmissionListResult>\n    <HasNext>false</HasNext>\n  </GetFeedSubmissionListResult>\n  <ResponseMetadata>\n    <RequestId>b6673f5e-66e6-45a4-9fc9-31961ffb9c07</RequestId>\n  </ResponseMetadata>\n</GetFeedSubmissionListResponse>\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/xml"
            },
            {
              "name": "x-mws-quota-max",
              "value": "80.0"
            },
            {
              "name": "x-mws-quota-remaining",
              "value": "80.0"
            },
            {
              "name": "x-mws-quota[...]
