{
  "log": {
    "_recordingName": "MerchantFulfillment/should be able to query service status",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "fe1a8e2c7744c88111760178ecfc3c73",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "AWSAccessKeyId=x&Action=GetServiceStatus&MWSAuthToken=x&SellerId=x&Signature=JZFEwr5ZaiHEJiuf8grJJldmJsm8N4zNMAo72s40vuU%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2020-06-30T12%3A07%3A55.313Z&Version=2015-06-01"
          },
          "queryString": [],
          "url": "https://mws.amazonservices.ca/MerchantFulfillment/2015-06-01"
        },
        "response": {
          "content": {
            "mimeType": "text/xml",
            "size": 387,
            "text": "<?xml version=\"1.0\"?>\n<GetServiceStatusResponse xmlns=\"http://mws.amazonservices.com/MerchantFulfillment/2015-06-01\">\n  <GetServiceStatusResult>\n    <Status>GREEN</Status>\n    <Timestamp>2020-06-30T12:07:55.535Z</Timestamp>\n  </GetServiceStatusResult>\n  <ResponseMetadata>\n    <RequestId>6aa39613-d731-465c-a5a1-50b39846b27c</RequestId>\n  </ResponseMetadata>\n</GetServiceStatusResponse>\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/xml"
            },
            {
              "name": "x-mws-request-id",
              "value": "6aa39613-d731-465c-a5a1-50b39846b27c"
            },
            {
              "name": "x-mws-timestamp",
              "value": "2020-06-30T12:07:55.535Z"
            },
            {
              "name": "x-mws-response-context",
              "value": "Gkj8JB2nwDsn9iTu+LqMkhyvCj2ys6R2ez7OLhKLSwrfoY0bXeu5QGcjiqF9cD3Vk7jXCtj2O1M="
            },
            {
              "name": "x-amz-rid",
              "value": "8AYW1DBW7CPJFPDKF2KE"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 223,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
