{
  "log": {
    "_recordingName": "reports/should be able to query get report request count",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.2.1"
    },
    "entries": [
      {
        "_id": "42d158f19f642ff1da025e065b80d080",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "AWSAccessKeyId=x&Action=GetReportRequestCount&MWSAuthToken=x&SellerId=x&Signature=ESo8CV68BH1d28hmj8jrpDBaFlOSD7uYu7NOJ8mrAX8%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2020-06-11T10%3A46%3A00.469Z&Version=2009-01-01"
          },
          "queryString": [],
          "url": "https://mws.amazonservices.ca/Reports/2009-01-01"
        },
        "response": {
          "content": {
            "mimeType": "text/xml",
            "size": 329,
            "text": "<?xml version=\"1.0\"?>\n<GetReportRequestCountResponse xmlns=\"http://mws.amazonaws.com/doc/2009-01-01/\">\n  <GetReportRequestCountResult>\n    <Count>5</Count>\n  </GetReportRequestCountResult>\n  <ResponseMetadata>\n    <RequestId>6e5ed9f0-7c97-4bf4-b54e-6ba5bbd643be</RequestId>\n  </ResponseMetadata>\n</GetReportRequestCountResponse>\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/xml"
            },
            {
              "name": "x-mws-quota-max",
              "value": "80.0"
            },
            {
              "name": "x-mws-quota-remaining",
              "value": "80.0"
            },
            {
              "name": "x-mws-quota[...]
