{
  "log": {
    "_recordingName": "products/should get product categories using product sku",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.2.1"
    },
    "entries": [
      {
        "_id": "fce59ab670bbe63a5905cd9194c0ffe1",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "AWSAccessKeyId=x&Action=GetProductCategoriesForSKU&MWSAuthToken=x&MarketplaceId=A2EUQ1WTGCTBG2&SellerId=x&SellerSKU=SPATULA-MWS-TEST&Signature=vC7te%2BE4R2of09Us80Q3qzWjiNcECqrDKz93QS5c3yE%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2020-06-04T13%3A44%3A34.306Z&Version=2011-10-01"
          },
          "queryString": [],
          "url": "https://mws.amazonservices.ca/Products/2011-10-01"
        },
        "response": {
          "content": {
            "mimeType": "text/xml",
            "size": 1076,
            "text": "<?xml version=\"1.0\"?><GetProductCategoriesForSKUResponse xmlns=\"http://mws.amazonservices.com/schema/Products/2011-10-01\"><GetProductCategoriesForSKUResult><Self><ProductCategoryId>6647554011</ProductCategoryId><ProductCategoryName>Spatulas</ProductCategoryName><Parent><ProductCategoryId>2224111011</ProductCategoryId><ProductCategoryName>Cooking Utensils</ProductCategoryName><Parent><ProductCategoryId>2224106011</ProductCategoryId><ProductCategoryName>Kitchen Utensils &amp; Gadgets</ProductCategoryName><Parent><ProductCategoryId>2224068011</ProductCategoryId><ProductCategoryName>Kitchen &amp; Dining</ProductCategoryName><Parent><ProductCategoryId>2206276011</ProductCategoryId><ProductCategoryName>Categories</ProductCategoryName><Parent><ProductCategoryId>2206275011</ProductCategoryId><ProductCategoryName>Home &amp; Kitchen</ProductCategoryName></Parent></Parent></Parent></Parent></Parent></Self></GetProductCategoriesForSKUResult><ResponseMetadata><RequestId>da0c9314-41b0-46a2-9667-26a3b1f937ea</RequestId></ResponseMetadata></GetProductCategoriesForSKUResponse>"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/xml"
            },
            {
              "name": "x-mws-quota-max",
              "value": "720.0"
            },
            {
              "name": "x-mws-quota-remaining",
              "value": "720.0"
            },
            {
              "name": "x-mws-quota-resetson",
              "value": "2020-06-04T14:12:00.000Z"
            },
            {
              "name": "x-amz-date",
              "value": "Thu, 4 Jun 2020 13:44:34 GMT"
            },
            {
              "name": "x-mws-request-id",
              "value": "da0c9314-41b0-46a2-9667-26a3b1f937ea"
            },
            {
              "name": "x-mws-timestamp",
              "value": "2020-06-04T13:44:34.671Z"
            },
            {
              "name": "x-mws-response-context",
              "value": "+8+BAfMqaJRGYQwJ56i+qhHhApREZVNIpei/0aHQz6+MTX4Lao9VlbNzHmJhQ0zYDQ8qATZAnek="
            },
            {
              "name": "x-amz-rid",
              "value": "4JE31GX27GS5AFW1KQAX"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 458,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
