{
  "log": {
    "_recordingName": "FulfillmentInventory/should be able to query service status",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "cab3c01f0a0b0b2199785806b087709d",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "AWSAccessKeyId=x&Action=GetServiceStatus&MWSAuthToken=x&SellerId=x&Signature=isTVSc9mk4dKZo6TkMa5bv8P3xjPr7ZAghGP5BsJtdc%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2020-06-23T12%3A03%3A07.054Z&Version=2010-10-01"
          },
          "queryString": [],
          "url": "https://mws.amazonservices.ca/FulfillmentInventory/2010-10-01"
        },
        "response": {
          "content": {
            "mimeType": "text/xml",
            "size": 384,
            "text": "<?xml version=\"1.0\"?>\n<GetServiceStatusResponse xmlns=\"http://mws.amazonaws.com/FulfillmentInventory/2010-10-01/\">\n  <GetServiceStatusResult>\n    <Status>GREEN</Status>\n    <Timestamp>2020-06-23T12:03:07.076Z</Timestamp>\n  </GetServiceStatusResult>\n  <ResponseMetadata>\n    <RequestId>23ea0340-b32c-4486-9473-72d75335cd04</RequestId>\n  </ResponseMetadata>\n</GetServiceStatusResponse>\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/xml"
            },
            {
              "name": "x-mws-request-id",
              "value": "23ea0340-b32c-4486-9473-72d75335cd04"
            },
            {
              "name": "x-mws-timestamp",
              "value": "2020-06-23T12:03:07.076Z"
            },
            {
              "name": "x-mws-response-context",
              "value": "H5SeDFfdI/yUGR8CC38WSsRzFpxA708hyaPQDmBxxzhHlzcvnHhVMA/hKAAZHT95ZKB0U9bhndU="
            },
            {
              "name": "x-amz-rid",
              "value": "4M28CQFKFGFE59P1ZW8Y"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 19,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
