{
  "log": {
    "_recordingName": "reports/should return another request report",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.2.1"
    },
    "entries": [
      {
        "_id": "42d158f19f642ff1da025e065b80d080",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "AWSAccessKeyId=x&Action=RequestReport&MWSAuthToken=x&ReportType=_GET_MERCHANT_LISTINGS_DATA_&SellerId=x&Signature=M2ktWC8C2p42HeQpLn6UBcKxdFobxt7P7qR9DzG2u1A%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2020-06-12T09%3A29%3A10.167Z&Version=2009-01-01"
          },
          "queryString": [],
          "url": "https://mws.amazonservices.ca/Reports/2009-01-01"
        },
        "response": {
          "content": {
            "mimeType": "text/xml",
            "size": 709,
            "text": "<?xml version=\"1.0\"?>\n<RequestReportResponse xmlns=\"http://mws.amazonaws.com/doc/2009-01-01/\">\n  <RequestReportResult>\n    <ReportRequestInfo>\n      <ReportType>_GET_MERCHANT_LISTINGS_DATA_</ReportType>\n      <ReportProcessingStatus>_SUBMITTED_</ReportProcessingStatus>\n      <EndDate>2020-06-12T09:29:10+00:00</EndDate>\n      <Scheduled>false</Scheduled>\n      <ReportRequestId>51784018425</ReportRequestId>\n      <SubmittedDate>2020-06-12T09:29:10+00:00</SubmittedDate>\n      <StartDate>2020-06-12T09:29:10+00:00</StartDate>\n    </ReportRequestInfo>\n  </RequestReportResult>\n  <ResponseMetadata>\n    <RequestId>2568fd7b-8736-4e18-af7a-00e75fcd9abc</RequestId>\n  </ResponseMetadata>\n</RequestReportResponse>\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/xml"
            },
            {
              "name": "x-mws-quota-max",
              "value": "60.0"
            },
            {
              "name": "x-mws-quota-remaining",
              "value": "60.0"
            },
            {
              "name": "x-mws-quota-resetso[...]
