{
  "log": {
    "_recordingName": "products/should be able to query service status",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.2.1"
    },
    "entries": [
      {
        "_id": "fce59ab670bbe63a5905cd9194c0ffe1",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "AWSAccessKeyId=x&Action=GetServiceStatus&MWSAuthToken=x&SellerId=x&Signature=YfXb194GhOMdZRZz2ncjtChTlRHy4G01J3R1XD4FXy8%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2020-05-29T08%3A05%3A32.901Z&Version=2011-10-01"
          },
          "queryString": [],
          "url": "https://mws.amazonservices.ca/Products/2011-10-01"
        },
        "response": {
          "content": {
            "mimeType": "text/xml",
            "size": 383,
            "text": "<?xml version=\"1.0\"?>\n<GetServiceStatusResponse xmlns=\"http://mws.amazonservices.com/schema/Products/2011-10-01\">\n  <GetServiceStatusResult>\n    <Status>GREEN</Status>\n    <Timestamp>2020-05-29T08:05:33.822Z</Timestamp>\n  </GetServiceStatusResult>\n  <ResponseMetadata>\n    <RequestId>a809698c-1318-4b39-a393-ab218b81ce93</RequestId>\n  </ResponseMetadata>\n</GetServiceStatusResponse>\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/xml"
            },
            {
              "name": "x-mws-request-id",
              "value": "a809698c-1318-4b39-a393-ab218b81ce93"
            },
            {
              "name": "x-mws-timestamp",
              "value": "2020-05-29T08:05:33.822Z"
            },
            {
              "name": "x-mws-response-context",
              "value": "feCBH1CzCUmKtCOmgY23he/9QXa17gEYzC4QIMEymK/hUh8gvNagnwrgf/hRvqRtxUwyNc/YsGs="
            },
            {
              "name": "x-amz-rid",
              "value": "PW5J3J4MJZS14Z5X2GYH"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 919,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
