{
  "log": {
    "_recordingName": "products/should be able to handle invalid and valid asins",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.2.1"
    },
    "entries": [
      {
        "_id": "fce59ab670bbe63a5905cd9194c0ffe1",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "AWSAccessKeyId=x&Action=GetMatchingProductForId&IdList.Id.1=PRESS001&IdList.Id.2=B07L1G4YKT&IdList.Id.3=B00J8NCVX4&IdType=ASIN&MWSAuthToken=x&MarketplaceId=A2EUQ1WTGCTBG2&SellerId=x&Signature=%2BYfSaPMbq8hTVb9TQrBrpBlThXETP8ZHUjcRvx7eBeQ%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2020-06-04T10%3A44%3A51.590Z&Version=2011-10-01"
          },
          "queryString": [],
          "url": "https://mws.amazonservices.ca/Products/2011-10-01"
        },
        "response": {
          "content": {
            "mimeType": "text/xml",
            "size": 5092,
            "text": "<?xml version=\"1.0\"?><GetMatchingProductForIdResponse xmlns=\"http://mws.amazonservices.com/schema/Products/2011-10-01\"><GetMatchingProductForIdResult Id=\"PRESS001\" IdType=\"ASIN\" status=\"ClientError\"><Error><Type>Sender</Type><Code>InvalidParameterValue</Code><Message>Invalid ASIN identifier PRESS001 for marketplace A2EUQ1WTGCTBG2</Message></Error></GetMatchingProductForIdResult><GetMatchingProductForIdResult Id=\"B07L1G4YKT\" IdType=\"ASIN\" status=\"Success\"><Products xmlns:ns2=\"http://mws.amazonservices.com/schema/Products/2011-10-01/default.xsd\"><Product><Identifiers><MarketplaceASIN><MarketplaceId>A2EUQ1WTGCTBG2</MarketplaceId><ASIN>B07L1G4YKT</ASIN></MarketplaceASIN></Identifiers><AttributeSets><ns2:ItemAttributes xml:lang=\"en-CA\"><ns2:Binding>Kitchen</ns2:Binding><ns2:Brand>Coson</ns2:Brand><ns2:Color>Silver</ns2:Color><ns2:ItemDimensions><ns2:Height Units=\"inches\">1.50</ns2:Height><ns2:Length Units=\"inches\">6.50</ns2:Length><ns2:Width Units=\"inches\">1.20</ns2:Width></ns2:ItemDimensions><ns2:Label>CHY</ns2:Label><ns2:ListPrice><ns2:Amount>30.00</ns2:Amount><ns2:CurrencyCode>CAD</ns2:CurrencyCode></ns2:ListPrice><ns2:Manufacturer>CHY</ns2:Manufacturer><ns2:MaterialType>Zinc</ns2:MaterialType><ns2:Model>CO07</ns2:Model><ns2:PackageDimensions><ns2:Height Units=\"inches\">1.3385826758</ns2:Height><ns2:Length Units=\"inches\">7.0078740086</ns2:Length><ns2:Width Units=\"inches\">2.0472440924</ns2:Width><ns2:Weight Units=\"pounds\">0.6172943336</ns2:Weight></ns2:PackageDimensions><ns2:PackageQuantity>1</ns2:PackageQuantity><ns2:PartNumber>CO07</ns2:PartNumber><ns2:ProductGroup>Kitchen</ns2:ProductGroup><ns2:ProductTypeName>GARLIC_PRESS</ns2:ProductTypeName><ns2:Publisher>CHY</ns2:Publisher><ns2:Size>17x4.5cm</ns2:Size><ns2:SmallImage><ns2:URL>https://m.media-amazon.com/images/I/41k1X-rLAmL._SL75_.jpg</ns2:URL><ns2:Height Units=\"pixels\">75</ns2:Height><ns2:Width Units=\"pixels\">75</ns2:Width></ns2:SmallImage><ns2:Studio>CHY</ns2:Studio><ns2:Title>Garlic Press Mashed Garlic Crusher Peeler Chopper Garlic Puree Maker with Silicone Tube Roller and Cleaning Brush,Zinc Alloy Heavy Soft-Handled (Zinc Alloy)</ns2:Title></ns2:ItemAttributes></AttributeSets><Relationships><VariationParent><Identifiers><MarketplaceASIN><MarketplaceId>A2EUQ1WTGCTBG2</MarketplaceId><ASIN>B07LC36DV7</ASIN></MarketplaceASIN></Identifiers></VariationParent></Relationships><SalesRankings><SalesRank><ProductCategoryId>kitchen_display_on_website</ProductCategoryId><Rank>1165</Rank></SalesRank><SalesRank><ProductCategoryId>6647597011</ProductCategoryId><Rank>3</Rank></SalesRank><SalesRank><ProductCategoryId>2224120011</ProductCategoryId><Rank>5</Rank></SalesRank></SalesRankings></Product></Products></GetMatchingProductForIdResult><GetMatchingProductForIdResult Id=\"B00J8NCVX4\" IdType=\"ASIN\" status=\"Success\"><Products xmlns:ns2=\"http://mws.amazonservices.com/schema/Products/2011-10-01/default.xsd\"><Product><Identifiers><MarketplaceASIN><MarketplaceId>A2EUQ1WTGCTBG2</MarketplaceId><ASIN>B00J8NCVX4</ASIN></MarketplaceASIN></Identifiers><AttributeSets><ns2:ItemAttributes xml:lang=\"en-CA\"><ns2:Binding>Personal Computers</ns2:Binding><ns2:Brand>D-Link</ns2:Brand><ns2:Color>Black</ns2:Color><ns2:ItemDimensions><ns2:Height Units=\"inches\">1.5</ns2:Height><ns2:Length Units=\"inches\">9.75</ns2:Length><ns2:Width Units=\"inches\">7.5</ns2:Width><ns2:Weight Units=\"pounds\">1.41</ns2:Weight></ns2:ItemDimensions><ns2:IsAutographed>false</ns2:IsAutographed><ns2:IsMemorabilia>false</ns2:IsMemorabilia><ns2:Label>D-Link Systems, Inc.</ns2:Label><ns2:ListPrice><ns2:Amount>230.99</ns2:Amount><ns2:CurrencyCode>CAD</ns2:CurrencyCode></ns2:ListPrice><ns2:Manufacturer>D-Link Systems, Inc.</ns2:Manufacturer><ns2:Model>DIR-880L</ns2:Model><ns2:OperatingSystem>Windows 7, Mac OS</ns2:OperatingSystem><ns2:PackageDimensions><ns2:Height Units=\"inches\">3.599999996328</ns2:Height><ns2:Length Units=\"inches\">11.299999988474</ns2:Length><ns2:Width Units=\"inches\">9.799999990004001181102361</ns2:Width><ns2:Weight Units=\"pounds\">2.729999997710647882462262</ns2:Weight></ns2:PackageDimensions><ns2:PackageQuantity>1</ns2:PackageQuantity><ns2:PartNumber>DIR-880L</ns2:PartNumber><ns2:ProductGroup>Personal Computer</ns2:ProductGroup><ns2:ProductTypeName>NETWORKING_ROUTER</ns2:ProductTypeName><ns2:Publisher>D-Link Systems, Inc.</ns2:Publisher><ns2:SmallImage><ns2:URL>https://m.media-amazon.com/images/I/41bJCGDCtUL._SL75_.jpg</ns2:URL><ns2:Height Units=\"pixels\">75</ns2:Height><ns2:Width Units=\"pixels\">75</ns2:Width></ns2:SmallImage><ns2:Studio>D-Link Systems, Inc.</ns2:Studio><ns2:Title>D-Link Wireless AC1900 Dual Band Gigabit Router (DIR-880L)</ns2:Title></ns2:ItemAttributes></AttributeSets><Relationships/><SalesRankings><SalesRank><ProductCategoryId>ce_display_on_website</ProductCategoryId><Rank>40064</Rank></SalesRank><SalesRank><ProductCategoryId>680475011</ProductCategoryId><Rank>369</Rank></SalesRank></SalesRankings></Product></Products></GetMatchingProductForIdResult><ResponseMetadata><RequestId>5d30f613-3e2d-477e-8b0a-d87968e2d13d</RequestId></ResponseMetadata></GetMatchingProductForIdResponse>"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/xml"
            },
            {
              "name": "x-mws-quota-max",
              "value": "18000.0"
            },
            {
              "name": "x-mws-quota-remaining",
              "value": "18000.0"
            },
            {
              "name": "x-mws-quota-resetson",
              "value": "2020-06-04T11:12:00.000Z"
            },
            {
              "name": "x-amz-date",
              "value": "Thu, 4 Jun 2020 10:44:52 GMT"
            },
            {
              "name": "x-mws-request-id",
              "value": "5d30f613-3e2d-477e-8b0a-d87968e2d13d"
            },
            {
              "name": "x-mws-timestamp",
              "value": "2020-06-04T10:44:51.940Z"
            },
            {
              "name": "x-mws-response-context",
              "value": "Dvf6LH5+9DMLE8ULYrIW/yCgyDLEUPnQaZIiJGzA/2MRQDRx7civO0hfCJiwVDADc7dxG12BhBk="
            },
            {
              "name": "x-amz-rid",
              "value": "46T52H5F6QY1BG2BHC9B"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 438,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
