{
  "log": {
    "_recordingName": "httpClient/default fetch/returns only the XML response on failure",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.2.1"
    },
    "entries": [
      {
        "_id": "d07dafb67134c23e30f0230c6eb88048",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "AWSAccessKeyId=a&Action=GetServiceStatus&MWSAuthToken=b&SellerId=d&Signature=NXP6e4Af2LdiYKr%2FugIJJThluWHhTbYMRCaj8Nz40t4%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2020-05-28T11%3A51%3A00.802Z&Version="
          },
          "queryString": [],
          "url": "https://mws.amazonservices.ca/Sellers/"
        },
        "response": {
          "content": {
            "mimeType": "text/xml",
            "size": 328,
            "text": "<?xml version=\"1.0\"?>\n<ErrorResponse xmlns=\"https://mws.amazonservices.com/\">\n  <Error>\n    <Type>Sender</Type>\n    <Code>InvalidAddress</Code>\n    <Message>Resource /Sellers/ is not found on this server. API Version is missing</Message>\n  </Error>\n  <RequestID>7c1eb112-5eb8-4967-8b97-4dc7de1e2bda</RequestID>\n</ErrorResponse>\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/xml"
            },
            {
              "name": "x-mws-request-id",
              "value": "7c1eb112-5eb8-4967-8b97-4dc7de1e2bda"
            },
            {
              "name": "x-mws-timestamp",
              "value": "2020-05-28T11:51:02.143Z"
            },
            {
              "name": "x-mws-response-context",
              "value": "XPyoivOmqM1i5YuN3TaTD1jxHUJFZuK8WKW49keSFI2s9ecqn7NxYH8DTvsH+gzsFiEAvzEbxP0="
            },
            {
              "name": "x-amz-rid",
              "value": "PJG321NPHF7Y8N5E0CGS"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 1463,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
