{
  "log": {
    "_recordingName": "reports/should succesfully get a count of 0 on an empty report id list",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.2.1"
    },
    "entries": [
      {
        "_id": "42d158f19f642ff1da025e065b80d080",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "AWSAccessKeyId=x&Action=UpdateReportAcknowledgements&MWSAuthToken=x&ReportIdList.Id.1=21175694446018424&ReportIdList.Id.2=21178489344018424&SellerId=x&Signature=WEupKo2j5vEchU4C9Y%2BUxNySNfQPIDA8vxez5ZfkTlY%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2020-06-12T04%3A15%3A48.435Z&Version=2009-01-01"
          },
          "queryString": [],
          "url": "https://mws.amazonservices.ca/Reports/2009-01-01"
        },
        "response": {
          "content": {
            "mimeType": "text/xml",
            "size": 1093,
            "text": "<?xml version=\"1.0\"?>\n<UpdateReportAcknowledgementsResponse xmlns=\"http://mws.amazonaws.com/doc/2009-01-01/\">\n  <UpdateReportAcknowledgementsResult>\n    <Count>2</Count>\n    <ReportInfo>\n      <ReportType>_GET_MERCHANT_LISTINGS_DATA_</ReportType>\n      <Acknowledged>true</Acknowledged>\n      <AcknowledgedDate>2020-06-12T04:15:48+00:00</AcknowledgedDate>\n      <ReportId>21175694446018424</ReportId>\n      <ReportRequestId>51781018424</ReportRequestId>\n      <AvailableDate>2020-06-11T07:44:32+00:00</AvailableDate>\n    </ReportInfo>\n    <ReportInfo>\n      <ReportType>_GET_FLAT_FILE_OPEN_LISTINGS_DATA_</ReportType>\n      <Acknowledged>true</Acknowledged>\n      <AcknowledgedDate>2020-06-12T04:15:48+00:00</AcknowledgedDate>\n      <ReportId>21178489344018424</ReportId>\n      <ReportRequestId>51780018424</ReportRequestId>\n      <AvailableDate>2020-06-11T07:41:56+00:00</AvailableDate>\n    </ReportInfo>\n  </UpdateReportAcknowledgementsResult>\n  <ResponseMetadata>\n    <RequestId>bb0a2a9f-027d-4d04-9e20-8083b7558588</RequestId>\n  </ResponseMetadata>\n</UpdateReportAcknowledgementsResponse>\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/xml"
            },
            {
              "name": "x-mws-quota-max",
              "value": "80.0"
            },
            {
              "name": "x-mws-quota-remaining",
              "value": "80.0"
            },
            {
              "name": "x-mw[...]
