{
  "log": {
    "_recordingName": "submit-feed/should be able to submit sample feed",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "b4391da807354cda8b8ffaab25e22621",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "text/xml"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "text/xml",
            "params": [],
            "text": "<?xml version=\"1.0\" encoding=\"iso-8859-1\"?>\n<AmazonEnvelope xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:noNamespaceSchemaLocation=\"amzn-envelope.xsd\">\n  <Header>\n    <DocumentVersion>1.01</DocumentVersion>\n    <MerchantIdentifier>M_EXAMPLE_123456</MerchantIdentifier>\n  </Header>\n  <MessageType>Product</MessageType>\n  <PurgeAndReplace>false</PurgeAndReplace>\n  <Message>\n    <MessageID>1</MessageID>\n    <OperationType>Update</OperationType>\n    <Product>\n      <SKU>56789</SKU>\n      <StandardProductID>\n        <Type>ASIN</Type>\n        <Value>B0EXAMPLEG</Value>\n      </StandardProductID>\n      <ProductTaxCode>A_GEN_NOTAX</ProductTaxCode>\n      <DescriptionData>\n        <Title>Example Product Title</Title>\n        <Brand>Example Product Brand</Brand>\n        <Description>This is an example product description.</Description>\n        <BulletPoint>Example Bullet Point 1</BulletPoint>\n        <BulletPoint>Example Bullet Point 2</BulletPoint>\n        <MSRP currency=\"USD\">25.19</MSRP>\n        <Manufacturer>Example Product Manufacturer</Manufacturer>\n        <ItemType>example-item-type</ItemType>\n      </DescriptionData>\n      <ProductData>\n        <Health>\n          <ProductType>\n            <HealthMisc>\n              <Ingredients>Example Ingredients</Ingredients>\n              <Directions>Example Directions</Directions>\n            </HealthMisc>\n          </ProductType>\n        </Health>\n      </ProductData>\n    </Product>\n  </Message>\n</AmazonEnvelope>\n"
          },
          "queryString": [
            {
              "name": "AWSAccessKeyId",
              "value": "AKIAIAIAAT7ND54ZZHCA"
            },
            {
              "name": "Action",
              "value": "SubmitFeed"
            },
            {
              "name": "ContentMD5Value",
              "value": "bDhJasSNYDMcVWyPpo+vyw=="
            },
            {
              "name": "FeedType",
              "value": "_POST_PRODUCT_DATA_"
            },
            {
              "name": "MWSAuthToken",
              "value": "amzn.mws.ceb0168c-9b0a-a870-3728-898489b540f5"
            },
            {
              "name": "SellerId",
              "value": "AUZWHWR0590BC"
            },
            {
              "name": "Signature",
              "value": "V+nhflAhhUzOKbbtJ3atvKo9M5H3u1ybF4U31BRHnJE="
            },
            {
              "name": "SignatureMethod",
              "value": "HmacSHA256"
            },
            {
              "name": "SignatureVersion",
              "value": "2"
            },
            {
              "name": "Timestamp",
              "value": "2020-06-25T13:17:18.123Z"
            },
            {
              "name": "Version",
              "value": "2009-01-01"
            }
          ],
          "url": "https://mws.amazonservices.ca/Feeds/2009-01-01?AWSAccessKeyId=x&Action=SubmitFeed&ContentMD5Value=bDhJasSNYDMcVWyPpo%2Bvyw%3D%3D&FeedType=_POST_PRODUCT_DATA_&MWSAuthToken=x&SellerId=x&Signature=V%2BnhflAhhUzOKbbtJ3atvKo9M5H3u1ybF4U31BRHnJE%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2020-06-25T13%3A17%3A18.123Z&Version=2009-01-01"
        },
        "response": {
          "content": {
            "mimeType": "text/xml",
            "size": 486,
            "text": "<?xml version=\"1.0\"?>\n<SubmitFeedResponse xmlns=\"http://mws.amazonaws.com/doc/2009-01-01/\"><SubmitFeedResult><FeedSubmissionInfo><FeedSubmissionId>51801018438</FeedSubmissionId><FeedType>_POST_PRODUCT_DATA_</FeedType><SubmittedDate>2020-06-25T13:17:18+00:00</SubmittedDate><FeedProcessingStatus>_SUBMITTED_</FeedProcessingStatus></FeedSubmissionInfo></SubmitFeedResult><ResponseMetadata><RequestId>e6226f27-7e18-4f25-98b1-c76ea0f49e91</RequestId></ResponseMetadata></SubmitFeedResponse>"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/xml"
            },
            {
              "name": "x-mws-quota-max",
              "value": "30.0"
            },
            {
              "name": "x-mws-quota-remaining",
              "value": "30.0"
            },
            {
              "name": "x-mws-quota-resetson",
              "value": "2020-06-25T14:12:00.000Z"
            },
            {
              "name": "x-mws-response-context",
              "value": "d5TXZmKIPMUzVw195OP40nbl1G8bEaVdNnso0VphoRcMrBTqtYfP9XT2XVm73qGEL8If3QMZoF0=, PYo4uTL5lD+Nn0F6nhYC6P9LEWZwRuXVmYfvrjOfDD8UoAzBKJDoiLuxjH3z0uVOC5CufnQUWqw="
            },
            {
              "name": "x-amz-request-id",
              "value": "e6226f27-7e18-4f25-98b1-c76ea0f49e91"
            },
            {
              "name": "x-mws-request-id",
              "value": "e6226f27-7e18-4f25-98b1-c76ea0f49e91"
            },
            {
              "name": "x-mws-timestamp",
              "value": "2020-06-25T13:17:18.266Z"
            },
            {
              "name": "x-amz-rid",
              "value": "3ZFYRJEG1X9VWBTXM9Q5"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 365,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
