{
  "log": {
    "_recordingName": "products/should get competitive pricing for asin if succesful",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.2.1"
    },
    "entries": [
      {
        "_id": "fce59ab670bbe63a5905cd9194c0ffe1",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "ASINList.ASIN.1=B00D6CMT12&ASINList.ASIN.2=B07L1G4YKT&ASINList.ASIN.3=B00J8NCVX4&AWSAccessKeyId=x&Action=GetCompetitivePricingForASIN&MWSAuthToken=x&MarketplaceId=A2EUQ1WTGCTBG2&SellerId=x&Signature=86haji51nlg2mwI43APNtFDJvFbtQuDi1gFJeAF61w8%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2020-06-03T13%3A36%3A46.100Z&Version=2011-10-01"
          },
          "queryString": [],
          "url": "https://mws.amazonservices.ca/Products/2011-10-01"
        },
        "response": {
          "content": {
            "mimeType": "text/xml",
            "size": 3504,
            "text": "<?xml version=\"1.0\"?><GetCompetitivePricingForASINResponse xmlns=\"http://mws.amazonservices.com/schema/Products/2011-10-01\"><GetCompetitivePricingForASINResult ASIN=\"B00D6CMT12\" status=\"Success\"><Product xmlns:ns2=\"http://mws.amazonservices.com/schema/Products/2011-10-01/default.xsd\"><Identifiers><MarketplaceASIN><MarketplaceId>A2EUQ1WTGCTBG2</MarketplaceId><ASIN>B00D6CMT12</ASIN></MarketplaceASIN></Identifiers><CompetitivePricing><CompetitivePrices><CompetitivePrice belongsToRequester=\"false\" condition=\"New\" subcondition=\"New\"><CompetitivePriceId>1</CompetitivePriceId><Price><LandedPrice><CurrencyCode>CAD</CurrencyCode><Amount>6.99</Amount></LandedPrice><ListingPrice><CurrencyCode>CAD</CurrencyCode><Amount>6.99</Amount></ListingPrice><Shipping><CurrencyCode>CAD</CurrencyCode><Amount>0.00</Amount></Shipping></Price></CompetitivePrice></CompetitivePrices><NumberOfOfferListings><OfferListingCount condition=\"New\">1</OfferListingCount><OfferListingCount condition=\"Any\">1</OfferListingCount></NumberOfOfferListings></CompetitivePricing><SalesRankings><SalesRank><ProductCategoryId>kitchen_display_on_website</ProductCategoryId><Rank>606</Rank></SalesRank><SalesRank><ProductCategoryId>6647554011</ProductCategoryId><Rank>5</Rank></SalesRank></SalesRankings></Product></GetCompetitivePricingForASINResult><GetCompetitivePricingForASINResult ASIN=\"B07L1G4YKT\" status=\"Success\"><Product xmlns:ns2=\"http://mws.amazonservices.com/schema/Products/2011-10-01/default.xsd\"><Identifiers><MarketplaceASIN><MarketplaceId>A2EUQ1WTGCTBG2</MarketplaceId><ASIN>B07L1G4YKT</ASIN></MarketplaceASIN></Identifiers><CompetitivePricing><Competitive[...]
