{
  "log": {
    "_recordingName": "Sellers/should be able to query service status",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.2.1"
    },
    "entries": [
      {
        "_id": "4df7ed7e37c291697b74ef4e6a2e4cc7",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "AWSAccessKeyId=x&Action=GetServiceStatus&MWSAuthToken=x&SellerId=x&Signature=eCcp1xx%2BT1GrTFFAXzmgPHlCLRALaLdQGbQqTxw5kkE%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2020-05-28T11%3A22%3A24.764Z&Version=2011-07-01"
          },
          "queryString": [],
          "url": "https://mws.amazonservices.ca/Sellers/2011-07-01"
        },
        "response": {
          "content": {
            "mimeType": "text/xml",
            "size": 376,
            "text": "<?xml version=\"1.0\"?>\n<GetServiceStatusResponse xmlns=\"https://mws.amazonservices.com/Sellers/2011-07-01\">\n  <GetServiceStatusResult>\n    <Status>GREEN</Status>\n    <Timestamp>2020-05-28T11:22:25.398Z</Timestamp>\n  </GetServiceStatusResult>\n  <ResponseMetadata>\n    <RequestId>dba0b719-f4c3-4b26-a08a-2582b37111a4</RequestId>\n  </ResponseMetadata>\n</GetServiceStatusResponse>\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/xml"
            },
            {
              "name": "x-mws-request-id",
              "value": "dba0b719-f4c3-4b26-a08a-2582b37111a4"
            },
            {
              "name": "x-mws-timestamp",
              "value": "2020-05-28T11:22:25.398Z"
            },
            {
              "name": "x-mws-response-context",
              "value": "XPyoivOmqM1i5YuN3TaTD1jxHUJFZuK8WKW49keSFI2s9ecqn7NxYH8DTvsH+gzsFiEAvzEbxP0="
            },
            {
              "name": "x-amz-rid",
              "value": "N80GB7FBBXJDCXXF3NGG"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 767,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
