{
  "log": {
    "_recordingName": "Sellers/should be able to query service status",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.2.1"
    },
    "entries": [
      {
        "_id": "4df7ed7e37c291697b74ef4e6a2e4cc7",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "AWSAccessKeyId=x&Action=GetServiceStatus&MWSAuthToken=x&SellerId=x&Signature=xSjKxO%2B%2FTVvNfEwCDRcrnFanySku1b4QN0wZagW0Udo%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2020-05-28T11%3A28%3A55.422Z&Version=2011-07-01"
          },
          "queryString": [],
          "url": "https://mws.amazonservices.ca/Sellers/2011-07-01"
        },
        "response": {
          "content": {
            "mimeType": "text/xml",
            "size": 376,
            "text": "<?xml version=\"1.0\"?>\n<GetServiceStatusResponse xmlns=\"https://mws.amazonservices.com/Sellers/2011-07-01\">\n  <GetServiceStatusResult>\n    <Status>GREEN</Status>\n    <Timestamp>2020-05-28T11:28:55.524Z</Timestamp>\n  </GetServiceStatusResult>\n  <ResponseMetadata>\n    <RequestId>18032448-a819-4f90-b484-416dda47e2fb</RequestId>\n  </ResponseMetadata>\n</GetServiceStatusResponse>\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/xml"
            },
            {
              "name": "x-mws-request-id",
              "value": "18032448-a819-4f90-b484-416dda47e2fb"
            },
            {
              "name": "x-mws-timestamp",
              "value": "2020-05-28T11:28:55.524Z"
            },
            {
              "name": "x-mws-response-context",
              "value": "hGvkBhdGeksMT6gOVlbRoHAAUGeIoudJgcYEO03JQnu38UwJAA+ioDr1vwWvZxntput38XxgopY="
            },
            {
              "name": "x-amz-rid",
              "value": "3HBR5C9AXNZN6KX56J5V"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 113,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
