{
  "log": {
    "_recordingName": "products/should get competitive pricing for sku if succesful",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.2.1"
    },
    "entries": [
      {
        "_id": "fce59ab670bbe63a5905cd9194c0ffe1",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "AWSAccessKeyId=x&Action=GetCompetitivePricingForSKU&MWSAuthToken=x&MarketplaceId=A2EUQ1WTGCTBG2&SellerId=x&SellerSKUList.SellerSKU.1=SPATULA-MWS-TEST&SellerSKUList.SellerSKU.2=PRESS001&SellerSKUList.SellerSKU.3=B00J8NCVX4&Signature=wRkIziehdN3qT%2FAh8Y%2FRykRZDtV2UMHhJbDDqK58ZdY%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2020-06-03T13%3A36%3A49.621Z&Version=2011-10-01"
          },
          "queryString": [],
          "url": "https://mws.amazonservices.ca/Products/2011-10-01"
        },
        "response": {
          "content": {
            "mimeType": "text/xml",
            "size": 3948,
            "text": "<?xml version=\"1.0\"?><GetCompetitivePricingForSKUResponse xmlns=\"http://mws.amazonservices.com/schema/Products/2011-10-01\"><GetCompetitivePricingForSKUResult SellerSKU=\"SPATULA-MWS-TEST\" status=\"Success\"><Product xmlns:ns2=\"http://mws.amazonservices.com/schema/Products/2011-10-01/default.xsd\"><Identifiers><MarketplaceASIN><MarketplaceId>A2EUQ1WTGCTBG2</MarketplaceId><ASIN>B00D6CMT12</ASIN></MarketplaceASIN><SKUIdentifier><MarketplaceId>A2EUQ1WTGCTBG2</MarketplaceId><SellerId>x</SellerId><SellerSKU>SPATULA-MWS-TEST</SellerSKU></SKUIdentifier></Identifiers><CompetitivePricing><CompetitivePrices><CompetitivePrice belongsToRequester=\"false\" condition=\"New\" subcondition=\"New\"><CompetitivePriceId>1</CompetitivePriceId><Price><LandedPrice><CurrencyCode>CAD</CurrencyCode><Amount>6.99</Amount></LandedPrice><ListingPrice><CurrencyCode>CAD</CurrencyCode><Amount>6.99</Amount></ListingPrice><Shipping><CurrencyCode>CAD</CurrencyCode><Amount>0.00</Amount></Shipping></Price></CompetitivePrice></CompetitivePrices><NumberOfOfferListings><OfferListingCount condition=\"New\">1</OfferListingCount><OfferListingCount condition=\"Any\">1</OfferListingCount></NumberOfOfferListings></CompetitivePricing><SalesRankings><SalesRank><ProductCategoryId>kitchen_display_on_website</ProductCategoryId><Rank>606</Rank></SalesRank><SalesRank><ProductCategoryId>6647554011</ProductCategoryId><Rank>5</Rank></SalesRank></SalesRankings></Product></GetCompetitivePricingForSKUResult><GetCompetitivePricingForSKUResult SellerSKU=\"PRESS001\" status=\"Success\"><Product xmlns:ns2=\"http://mws.amazonservices.com/schema/Products/2011-10-01/default.xsd\"><Identifiers><MarketplaceASIN><MarketplaceId>A2EUQ1WTGCTBG2</MarketplaceId><ASIN>B07L1G4YKT</ASIN></MarketplaceASIN><SKUIdentifier><MarketplaceId>A2EUQ1WTGCTBG2<[...]
