{
  "log": {
    "_recordingName": "ShipmentInvoicing/should be able to query service status",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.0.0"
    },
    "entries": [
      {
        "_id": "e4330b934b4db85c360613514fcd61e0",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "AWSAccessKeyId=x&Action=GetServiceStatus&MWSAuthToken=x&SellerId=x&Signature=FIoNSlXUz3tlsNJb3Nkaflcx5hU%2FTiO2CmRMyLob1bM%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2020-07-07T00%3A35%3A30.055Z&Version=2018-11-01"
          },
          "queryString": [],
          "url": "https://mws.amazonservices.ca/ShipmentInvoicing/2018-11-01"
        },
        "response": {
          "content": {
            "mimeType": "text/xml",
            "size": 305,
            "text": "<?xml version=\"1.0\"?>\n<ErrorResponse xmlns=\"https://mws.amazonservices.com/\">\n  <Error>\n    <Type>Sender</Type>\n    <Code>InvalidAddress</Code>\n    <Message>Section ShipmentInvoicing/2018-11-01 is invalid</Message>\n  </Error>\n  <RequestID>40b0e748-2fa1-4f60-b400-15b7f772dba2</RequestID>\n</ErrorResponse>\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/xml"
            },
            {
              "name": "x-mws-request-id",
              "value": "40b0e748-2fa1-4f60-b400-15b7f772dba2"
            },
            {
              "name": "x-mws-timestamp",
              "value": "2020-07-07T00:35:30.402Z"
            },
            {
              "name": "x-mws-response-context",
              "value": "sZYoKXfrPSJGkKCDGEun5HJWYeke/kvcW1rAlBTagPzcIOOgc3zP+TEXZ3iha6iXBJka/iUxcio="
            },
            {
              "name": "x-amz-rid",
              "value": "7ACE9726CAYYDC3MJYGN"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 362,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
