{
  "log": {
    "_recordingName": "ShipmentInvoicing/should be able to query service status",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.0.0"
    },
    "entries": [
      {
        "_id": "f4dcbcf9cac1c5fa145babe89fc0f179",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "AWSAccessKeyId=x&Action=GetServiceStatus&MWSAuthToken=x&SellerId=x&Signature=5fxStlvaN0p%2FURIedwduuCqmUEADk9%2FnT2muTCwh%2FbY%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2020-07-07T00%3A46%3A55.873Z&Version=2018-09-01"
          },
          "queryString": [],
          "url": "https://mws.amazonservices.ca/ShipmentInvoicing/2018-09-01"
        },
        "response": {
          "content": {
            "mimeType": "text/xml",
            "size": 386,
            "text": "<?xml version=\"1.0\"?>\n<GetServiceStatusResponse xmlns=\"https://mws.amazonservices.com/ShipmentInvoicing/2018-09-01\">\n  <GetServiceStatusResult>\n    <Status>GREEN</Status>\n    <Timestamp>2020-07-07T00:46:56.154Z</Timestamp>\n  </GetServiceStatusResult>\n  <ResponseMetadata>\n    <RequestId>edc2c022-eec5-40bd-94e4-08829aab1aa7</RequestId>\n  </ResponseMetadata>\n</GetServiceStatusResponse>\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/xml"
            },
            {
              "name": "x-mws-request-id",
              "value": "edc2c022-eec5-40bd-94e4-08829aab1aa7"
            },
            {
              "name": "x-mws-timestamp",
              "value": "2020-07-07T00:46:56.154Z"
            },
            {
              "name": "x-mws-response-context",
              "value": "pHn9ivrdqNaHdJK9nTQL9plcdo5MSHgjAS+fa355SOYSrtZvIB7btnGpim3+JF/pl7tXAHNnjF4="
            },
            {
              "name": "x-amz-rid",
              "value": "2WFZP19R91YE1YJGSN3P"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 281,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
