{
  "log": {
    "_recordingName": "ShipmentInvoicing/should be able to query service status",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.0.0"
    },
    "entries": [
      {
        "_id": "e4330b934b4db85c360613514fcd61e0",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "AWSAccessKeyId=x&Action=GetServiceStatus&MWSAuthToken=x&SellerId=x&Signature=Zfc9dlFrb6KszgmnOQvrQxFaDmnI5vfDTdU4NSx%2BVao%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2020-07-07T00%3A51%3A49.088Z&Version=2018-11-01"
          },
          "queryString": [],
          "url": "https://mws.amazonservices.ca/ShipmentInvoicing/2018-11-01"
        },
        "response": {
          "content": {
            "mimeType": "text/xml",
            "size": 305,
            "text": "<?xml version=\"1.0\"?>\n<ErrorResponse xmlns=\"https://mws.amazonservices.com/\">\n  <Error>\n    <Type>Sender</Type>\n    <Code>InvalidAddress</Code>\n    <Message>Section ShipmentInvoicing/2018-11-01 is invalid</Message>\n  </Error>\n  <RequestID>02301c78-f18b-4d3a-82be-5df2412f6add</RequestID>\n</ErrorResponse>\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/xml"
            },
            {
              "name": "x-mws-request-id",
              "value": "02301c78-f18b-4d3a-82be-5df2412f6add"
            },
            {
              "name": "x-mws-timestamp",
              "value": "2020-07-07T00:51:49.472Z"
            },
            {
              "name": "x-mws-response-context",
              "value": "o4WFsrkQz90/j4xjYF58ZStrCE1eO7XmQWl9tYx4Cxh+yoVyIbIfKSWh93FOwiYzSQp1jj3fUSM="
            },
            {
              "name": "x-amz-rid",
              "value": "R5SB3WVFGCV4838FNV2P"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 380,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
