{
  "log": {
    "_recordingName": "ShipmentInvoicing/should be able to query service status",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.0.0"
    },
    "entries": [
      {
        "_id": "f4dcbcf9cac1c5fa145babe89fc0f179",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "AWSAccessKeyId=x&Action=GetServiceStatus&MWSAuthToken=x&SellerId=x&Signature=XxLn4pro7CLbUUBBeSnKnuBmt3UFGoqxL0MbMZK1OfU%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2020-07-07T04%3A11%3A23.533Z&Version=2018-09-01"
          },
          "queryString": [],
          "url": "https://mws.amazonservices.ca/ShipmentInvoicing/2018-09-01"
        },
        "response": {
          "content": {
            "mimeType": "text/xml",
            "size": 386,
            "text": "<?xml version=\"1.0\"?>\n<GetServiceStatusResponse xmlns=\"https://mws.amazonservices.com/ShipmentInvoicing/2018-09-01\">\n  <GetServiceStatusResult>\n    <Status>GREEN</Status>\n    <Timestamp>2020-07-07T04:11:23.780Z</Timestamp>\n  </GetServiceStatusResult>\n  <ResponseMetadata>\n    <RequestId>51b4bcbc-6bf8-4ee0-abfb-69322f41197d</RequestId>\n  </ResponseMetadata>\n</GetServiceStatusResponse>\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/xml"
            },
            {
              "name": "x-mws-request-id",
              "value": "51b4bcbc-6bf8-4ee0-abfb-69322f41197d"
            },
            {
              "name": "x-mws-timestamp",
              "value": "2020-07-07T04:11:23.780Z"
            },
            {
              "name": "x-mws-response-context",
              "value": "x1ldvG7GHd+i/J6lz5UCIfM80rJ3O61/M26+JAP1stXbD3nPvxvq0O89tT61E+cS2YkabOwAjJU="
            },
            {
              "name": "x-amz-rid",
              "value": "J7R4ZFEX9K3GKAEDQKRZ"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 256,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
