{
  "log": {
    "_recordingName": "subscriptions/should be able to delete a subscription",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "2705f105dea6682c09dee8853cb9884d",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "AWSAccessKeyId=x&Action=DeleteSubscription&Destination.AttributeList.member.1.Key=sqsQueueUrl&Destination.AttributeList.member.1.Value=https%3A%2F%2Fsqs.us-east-1.amazonaws.com%2F304786922662%2Fmws-sub-testw&Destination.DeliveryChannel=SQS&MWSAuthToken=x&MarketplaceId=A2EUQ1WTGCTBG2&NotificationType=AnyOfferChanged&SellerId=x&Signature=6jtwraHYXLPsKmY63P%2BG1BuRQtg2r4f%2BdrANZ91J7mM%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2020-06-22T08%3A34%3A02.001Z&Version=2013-07-01"
          },
          "queryString": [],
          "url": "https://mws.amazonservices.ca/Subscriptions/2013-07-01"
        },
        "response": {
          "content": {
            "mimeType": "text/xml",
            "size": 266,
            "text": "<DeleteSubscriptionResponse xmlns=\"http://mws.amazonservices.com/schema/Subscriptions/2013-07-01\">\n  <DeleteSubscriptionResult/>\n  <ResponseMetadata>\n    <RequestId>d9c28322-fbe5-4db3-ae3a-9b6ae4485cf3</RequestId>\n  </ResponseMetadata>\n</DeleteSubscriptionResponse>\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/xml"
            },
            {
              "name": "x-mws-request-id",
              "value": "d9c28322-fbe5-4db3-ae3a-9b6ae4485cf3"
            },
            {
              "name": "x-mws-timestamp",
              "value": "2020-06-22T08:34:03.492Z"
            },
            {
              "name": "x-mws-response-context",
              "value": "xfH/9EeSLL+snGXgfxRfpcxpeKeTprE77QihnY5eP5sbcpOQu7MZbeMLVsOjZKIrHr7Khk0sRwU="
            },
            {
              "name": "x-amz-rid",
              "value": "HPM58BGJFXMXHJJ228KT"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1699,
      },
      {
        "_id": "2705f105dea6682c09dee8853cb9884d",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "AWSAccessKeyId=x&Action=DeregisterDestination&Destination.AttributeList.member.1.Key=sqsQueueUrl&Destination.AttributeList.member.1.Value=https%3A%2F%2Fsqs.us-east-1.amazonaws.com%2F304786922662%2Fmws-sub-testw&Destination.DeliveryChannel=SQS&MWSAuthToken=x&MarketplaceId=A2EUQ1WTGCTBG2&SellerId=x&Signature=fbohLny%2Bfi1H9pruZbvIa%2FXo8LbqOG160UjSvHBn2sY%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2020-06-22T08%3A34%3A03.722Z&Version=2013-07-01"
          },
          "queryString": [],
          "url": "https://mws.amazonservices.ca/Subscriptions/2013-07-01"
        },
        "response": {
          "content": {
            "mimeType": "text/xml",
            "size": 275,
            "text": "<DeregisterDestinationResponse xmlns=\"http://mws.amazonservices.com/schema/Subscriptions/2013-07-01\">\n  <DeregisterDestinationResult/>\n  <ResponseMetadata>\n    <RequestId>007ce38f-d4a6-49f1-b1d8-be911457e911</RequestId>\n  </ResponseMetadata>\n</DeregisterDestinationResponse>\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/xml"
            },
            {
              "name": "x-mws-request-id",
              "value": "007ce38f-d4a6-49f1-b1d8-be911457e911"
            },
            {
              "name": "x-mws-timestamp",
              "value": "2020-06-22T08:34:04.387Z"
            },
            {
              "name": "x-mws-response-context",
              "value": "wtSbHhj9MYIsms8pZcs3N4dj7mWl31lC3xaGRWkKD/Hm5xq3cPeT6bqYf9axUvLaz34tC5IkY68="
            },
            {
              "name": "x-amz-rid",
              "value": "FE8N2NA4ZH31RXS14YJZ"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 896,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
