{
  "log": {
    "_recordingName": "FulfillmentInventory/should be able to get list of inventory supply",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "cc843f2ad14a26f7c64266dc6ace2312",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "AWSAccessKeyId",
              "value": "x"
            },
            {
              "name": "Action",
              "value": "ListInventorySupply"
            },
            {
              "name": "MWSAuthToken",
              "value": "x"
            },
            {
              "name": "QueryStartDateTime",
              "value": "2021-02-08T07:01:24.772Z"
            },
            {
              "name": "SellerId",
              "value": "x"
            },
            {
              "name": "Signature",
              "value": "vv5amo0ZfywOAhVMAkdrKGg3rvYQwibJaet+aJeE7iM="
            },
            {
              "name": "SignatureMethod",
              "value": "HmacSHA256"
            },
            {
              "name": "SignatureVersion",
              "value": "2"
            },
            {
              "name": "Timestamp",
              "value": "2021-07-08T07:01:24.772Z"
            },
            {
              "name": "Version",
              "value": "2010-10-01"
            }
          ],
          "url": "https://mws.amazonservices.ca/FulfillmentInventory/2010-10-01?AWSAccessKeyId=x&Action=ListInventorySupply&MWSAuthToken=x&QueryStartDateTime=2021-02-08T07%3A01%3A24.772Z&SellerId=x&Signature=vv5amo0ZfywOAhVMAkdrKGg3rvYQwibJaet%2BaJeE7iM%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2021-07-08T07%3A01%3A24.772Z&Version=2010-10-01"
        },
        "response": {
          "content": {
            "mimeType": "text/xml;charset=utf-8",
            "size": 372,
            "text": "<ListInventorySupplyResponse xmlns=\"http://mws.amazonaws.com/FulfillmentInventory/2010-10-01/\">\n  <ListInventorySupplyResult>\n    <MarketplaceId>A2EUQ1WTGCTBG2</MarketplaceId>\n    <InventorySupplyList/>\n  </ListInventorySupplyResult>\n  <ResponseMetadata>\n    <RequestId>2ace5af6-2f71-4570-98b3-729addd54eb5</RequestId>\n  </ResponseMetadata>\n</ListInventorySupplyResponse>\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/xml;charset=utf-8"
            },
            {
              "name": "x-amz-rid",
              "value": "MZVX28YNFKK33AMXGTYB"
            },
            {
              "name": "x-mws-request-id",
              "value": "2ace5af6-2f71-4570-98b3-729addd54eb5"
            },
            {
              "name": "x-mws-timestamp",
              "value": "2021-07-08T07:01:24.883Z"
            },
            {
              "name": "x-mws-response-context",
              "value": "/GbNKUHVj+f+/2vWpJsLCMy1NeEspK6xybn1hVoSRlU4dTr4CaA7E608Ynn0nkoMHbOSvclthtI="
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 194,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
