{
  "log": {
    "_recordingName": "FulfillmentInventory/should be able to get list of inventory supply",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "63b5eb256846bf3c452c24c97181292d",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "AWSAccessKeyId",
              "value": "x"
            },
            {
              "name": "Action",
              "value": "ListInventorySupply"
            },
            {
              "name": "MWSAuthToken",
              "value": "x"
            },
            {
              "name": "QueryStartDateTime",
              "value": "2021-02-08T07:08:13.025Z"
            },
            {
              "name": "SellerId",
              "value": "x"
            },
            {
              "name": "Signature",
              "value": "t++GocOz0jFS6MBoHJPKHNNGOM9BfCBISYrvzEehbo4="
            },
            {
              "name": "SignatureMethod",
              "value": "HmacSHA256"
            },
            {
              "name": "SignatureVersion",
              "value": "2"
            },
            {
              "name": "Timestamp",
              "value": "2021-07-08T07:08:13.025Z"
            },
            {
              "name": "Version",
              "value": "2010-10-01"
            }
          ],
          "url": "https://mws.amazonservices.ca/FulfillmentInventory/2010-10-01?AWSAccessKeyId=x&Action=ListInventorySupply&MWSAuthToken=x&QueryStartDateTime=2021-02-08T07%3A08%3A13.025Z&SellerId=x&Signature=t%2B%2BGocOz0jFS6MBoHJPKHNNGOM9BfCBISYrvzEehbo4%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2021-07-08T07%3A08%3A13.025Z&Version=2010-10-01"
        },
        "response": {
          "content": {
            "mimeType": "text/xml;charset=utf-8",
            "size": 372,
            "text": "<ListInventorySupplyResponse xmlns=\"http://mws.amazonaws.com/FulfillmentInventory/2010-10-01/\">\n  <ListInventorySupplyResult>\n    <MarketplaceId>A2EUQ1WTGCTBG2</MarketplaceId>\n    <InventorySupplyList/>\n  </ListInventorySupplyResult>\n  <ResponseMetadata>\n    <RequestId>5df0546c-2293-48af-999e-ebc3f864dd5f</RequestId>\n  </ResponseMetadata>\n</ListInventorySupplyResponse>\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/xml;charset=utf-8"
            },
            {
              "name": "x-amz-rid",
              "value": "M4196EVWQVRFPQAHX3VK"
            },
            {
              "name": "x-mws-request-id",
              "value": "5df0546c-2293-48af-999e-ebc3f864dd5f"
            },
            {
              "name": "x-mws-timestamp",
              "value": "2021-07-08T07:08:13.212Z"
            },
            {
              "name": "x-mws-response-context",
              "value": "BH2hNSKYSlFlHkRWv5HJnorpDVcKbk63Tdy3YfhtPfrEkEVAXbX8hvSKqg0AL2U/w3AbseBjArY="
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 226,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
