{
  "log": {
    "_recordingName": "FulfillmentInventory/should be able to get list of inventory supply",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "f003c75b5d01c4497d79f6e7338d7f5e",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "AWSAccessKeyId",
              "value": "x"
            },
            {
              "name": "Action",
              "value": "ListInventorySupply"
            },
            {
              "name": "MWSAuthToken",
              "value": "x"
            },
            {
              "name": "SellerId",
              "value": "x"
            },
            {
              "name": "SellerSkus.member.1",
              "value": "x"
            },
            {
              "name": "Signature",
              "value": "qN0dk+Gwk8SEA7N30l77nQ+DAtl+zm5/wcPTQ9sImHk="
            },
            {
              "name": "SignatureMethod",
              "value": "HmacSHA256"
            },
            {
              "name": "SignatureVersion",
              "value": "2"
            },
            {
              "name": "Timestamp",
              "value": "2021-09-18T06:51:34.780Z"
            },
            {
              "name": "Version",
              "value": "2010-10-01"
            }
          ],
          "url": "https://mws.amazonservices.ca/FulfillmentInventory/2010-10-01?AWSAccessKeyId=x&Action=ListInventorySupply&MWSAuthToken=x&SellerId=x&SellerSkus.member.1=x&Signature=qN0dk%2BGwk8SEA7N30l77nQ%2BDAtl%2Bzm5%2FwcPTQ9sImHk%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2021-09-18T06%3A51%3A34.780Z&Version=2010-10-01"
        },
        "response": {
          "content": {
            "mimeType": "text/xml;charset=utf-8",
            "size": 572,
            "text": "<ListInventorySupplyResponse xmlns=\"http://mws.amazonaws.com/FulfillmentInventory/2010-10-01/\">\n  <ListInventorySupplyResult>\n    <MarketplaceId>A2EUQ1WTGCTBG2</MarketplaceId>\n    <InventorySupplyList>\n      <member>\n        <TotalSupplyQuantity>0</TotalSupplyQuantity>\n        <InStockSupplyQuantity>0</InStockSupplyQuantity>\n        <SellerSKU>x</SellerSKU>\n      </member>\n    </InventorySupplyList>\n  </ListInventorySupplyResult>\n  <ResponseMetadata>\n    <RequestId>12f08191-a9ea-48cd-8c5d-362a46ff0155</RequestId>\n  </ResponseMetadata>\n</ListInventorySupplyResponse>\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/xml;charset=utf-8"
            },
            {
              "name": "x-amz-rid",
              "value": "Q4HCDWFNPEYQ4VZKV8QC"
            },
            {
              "name": "x-mws-request-id",
              "value": "12f08191-a9ea-48cd-8c5d-362a46ff0155"
            },
            {
              "name": "x-mws-timestamp",
              "value": "2021-09-18T06:51:36.102Z"
            },
            {
              "name": "x-mws-response-context",
              "value": "Jwf0RFnYhH9U9t1R7jyKJhDQ0zO23vgEqOT1INE3E7flbBMQ9hUca+KZnb7aV3CUwJ7ZkUEl/no="
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1311,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
