{
  "log": {
    "_recordingName": "FulfillmentInventory/should be able to get list of inventory supply",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "b271e14f99a7056e3961d333a081fdda",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "AWSAccessKeyId",
              "value": "x"
            },
            {
              "name": "Action",
              "value": "ListInventorySupply"
            },
            {
              "name": "MWSAuthToken",
              "value": "x"
            },
            {
              "name": "QueryStartDateTime",
              "value": "2020-12-06T10:28:25.256Z"
            },
            {
              "name": "SellerId",
              "value": "x"
            },
            {
              "name": "Signature",
              "value": "W9GX3WiwZ9rbM1Xo6a6kFQzlHp0zZI3DiLukOdH5Kks="
            },
            {
              "name": "SignatureMethod",
              "value": "HmacSHA256"
            },
            {
              "name": "SignatureVersion",
              "value": "2"
            },
            {
              "name": "Timestamp",
              "value": "2021-05-05T10:28:25.256Z"
            },
            {
              "name": "Version",
              "value": "2010-10-01"
            }
          ],
          "url": "https://mws.amazonservices.ca/FulfillmentInventory/2010-10-01?AWSAccessKeyId=x&Action=ListInventorySupply&MWSAuthToken=x&QueryStartDateTime=2020-12-06T10%3A28%3A25.256Z&SellerId=x&Signature=W9GX3WiwZ9rbM1Xo6a6kFQzlHp0zZI3DiLukOdH5Kks%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2021-05-05T10%3A28%3A25.256Z&Version=2010-10-01"
        },
        "response": {
          "content": {
            "mimeType": "text/xml;charset=utf-8",
            "size": 372,
            "text": "<ListInventorySupplyResponse xmlns=\"http://mws.amazonaws.com/FulfillmentInventory/2010-10-01/\">\n  <ListInventorySupplyResult>\n    <MarketplaceId>A2EUQ1WTGCTBG2</MarketplaceId>\n    <InventorySupplyList/>\n  </ListInventorySupplyResult>\n  <ResponseMetadata>\n    <RequestId>7352111f-33ed-4467-abcd-e4de068647ae</RequestId>\n  </ResponseMetadata>\n</ListInventorySupplyResponse>\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/xml;charset=utf-8"
            },
            {
              "name": "x-amz-rid",
              "value": "4XTZTAQC9RMSW65VQP67"
            },
            {
              "name": "x-mws-request-id",
              "value": "7352111f-33ed-4467-abcd-e4de068647ae"
            },
            {
              "name": "x-mws-timestamp",
              "value": "2021-05-05T10:28:25.444Z"
            },
            {
              "name": "x-mws-response-context",
              "value": "yHR+URiHQYuIq8hqmhHQRwTe0jPmBU/+FQCcCDYZtcrTnYfSrJGn8ubq1Rv3CUg5C/uw1n3TM3E="
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 254,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
