{
  "log": {
    "_recordingName": "FulfillmentInventory/should be able to get list of inventory supply",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "167251214ec73c8e5029a35275b9120c",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "AWSAccessKeyId",
              "value": "x"
            },
            {
              "name": "Action",
              "value": "ListInventorySupply"
            },
            {
              "name": "MWSAuthToken",
              "value": "x"
            },
            {
              "name": "QueryStartDateTime",
              "value": "2021-02-08T07:05:25.145Z"
            },
            {
              "name": "SellerId",
              "value": "x"
            },
            {
              "name": "Signature",
              "value": "+yvYJiE/G750TH3COlAlEnCl5QPQ+u8Qoi+kOKLGgdY="
            },
            {
              "name": "SignatureMethod",
              "value": "HmacSHA256"
            },
            {
              "name": "SignatureVersion",
              "value": "2"
            },
            {
              "name": "Timestamp",
              "value": "2021-07-08T07:05:25.146Z"
            },
            {
              "name": "Version",
              "value": "2010-10-01"
            }
          ],
          "url": "https://mws.amazonservices.ca/FulfillmentInventory/2010-10-01?AWSAccessKeyId=x&Action=ListInventorySupply&MWSAuthToken=x&QueryStartDateTime=2021-02-08T07%3A05%3A25.145Z&SellerId=x&Signature=%2ByvYJiE%2FG750TH3COlAlEnCl5QPQ%2Bu8Qoi%2BkOKLGgdY%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2021-07-08T07%3A05%3A25.146Z&Version=2010-10-01"
        },
        "response": {
          "content": {
            "mimeType": "text/xml;charset=utf-8",
            "size": 372,
            "text": "<ListInventorySupplyResponse xmlns=\"http://mws.amazonaws.com/FulfillmentInventory/2010-10-01/\">\n  <ListInventorySupplyResult>\n    <MarketplaceId>A2EUQ1WTGCTBG2</MarketplaceId>\n    <InventorySupplyList/>\n  </ListInventorySupplyResult>\n  <ResponseMetadata>\n    <RequestId>65a2db61-e29f-4bd1-90fe-1fa153da180b</RequestId>\n  </ResponseMetadata>\n</ListInventorySupplyResponse>\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/xml;charset=utf-8"
            },
            {
              "name": "x-amz-rid",
              "value": "50R022997PKWS1KJ5Y2W"
            },
            {
              "name": "x-mws-request-id",
              "value": "65a2db61-e29f-4bd1-90fe-1fa153da180b"
            },
            {
              "name": "x-mws-timestamp",
              "value": "2021-07-08T07:05:25.534Z"
            },
            {
              "name": "x-mws-response-context",
              "value": "tf5NAqu6YA9NdX8UC8TF/ZPz56e4Lw0fBmGf055EMV8iDrbWcwnK+d6utT7eWKZ2kl09Jc7yRW0="
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 435,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
