{
  "log": {
    "_recordingName": "FulfillmentInventory/should be able to get list of inventory supply",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "61055551b6bba2353de453ce691aaaee",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "AWSAccessKeyId",
              "value": "x"
            },
            {
              "name": "Action",
              "value": "ListInventorySupply"
            },
            {
              "name": "MWSAuthToken",
              "value": "x"
            },
            {
              "name": "QueryStartDateTime",
              "value": "2021-03-11T00:00:00.000Z"
            },
            {
              "name": "SellerId",
              "value": "x"
            },
            {
              "name": "Signature",
              "value": "6PMHHjicdFffAos2+jYcm7PQUHgCsBI9/C4ESSf4MzA="
            },
            {
              "name": "SignatureMethod",
              "value": "HmacSHA256"
            },
            {
              "name": "SignatureVersion",
              "value": "2"
            },
            {
              "name": "Timestamp",
              "value": "2021-09-18T06:29:25.302Z"
            },
            {
              "name": "Version",
              "value": "2010-10-01"
            }
          ],
          "url": "https://mws.amazonservices.ca/FulfillmentInventory/2010-10-01?AWSAccessKeyId=x&Action=ListInventorySupply&MWSAuthToken=x&QueryStartDateTime=2021-03-11T00%3A00%3A00.000Z&SellerId=x&Signature=6PMHHjicdFffAos2%2BjYcm7PQUHgCsBI9%2FC4ESSf4MzA%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2021-09-18T06%3A29%3A25.302Z&Version=2010-10-01"
        },
        "response": {
          "content": {
            "mimeType": "text/xml;charset=utf-8",
            "size": 372,
            "text": "<ListInventorySupplyResponse xmlns=\"http://mws.amazonaws.com/FulfillmentInventory/2010-10-01/\">\n  <ListInventorySupplyResult>\n    <MarketplaceId>A2EUQ1WTGCTBG2</MarketplaceId>\n    <InventorySupplyList/>\n  </ListInventorySupplyResult>\n  <ResponseMetadata>\n    <RequestId>c5f1f95c-26e5-4a39-975b-ec5b6e265b02</RequestId>\n  </ResponseMetadata>\n</ListInventorySupplyResponse>\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/xml;charset=utf-8"
            },
            {
              "name": "x-amz-rid",
              "value": "9JMG3580W1EKWZJMSYZY"
            },
            {
              "name": "x-mws-request-id",
              "value": "c5f1f95c-26e5-4a39-975b-ec5b6e265b02"
            },
            {
              "name": "x-mws-timestamp",
              "value": "2021-09-18T06:29:25.419Z"
            },
            {
              "name": "x-mws-response-context",
              "value": "HbngUd/xkWSJlpIyfpWzJTcsXdYOw778/sn5TJp7Y1Al21Dsxp5H4BzbrCxsl5fYqlYlMI6GoBM="
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 159,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
