{
  "log": {
    "_recordingName": "FulfillmentInventory/should be able to get list of inventory supply",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "3be685e9c8e850f1a2fdfbb589bb8558",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "AWSAccessKeyId",
              "value": "x"
            },
            {
              "name": "Action",
              "value": "ListInventorySupply"
            },
            {
              "name": "MWSAuthToken",
              "value": "x"
            },
            {
              "name": "QueryStartDateTime",
              "value": "2021-02-08T07:02:21.815Z"
            },
            {
              "name": "SellerId",
              "value": "x"
            },
            {
              "name": "Signature",
              "value": "NAq0L9eHEbcodUKj9ZZfvpghkUNAMLUNuMwkkufN/MI="
            },
            {
              "name": "SignatureMethod",
              "value": "HmacSHA256"
            },
            {
              "name": "SignatureVersion",
              "value": "2"
            },
            {
              "name": "Timestamp",
              "value": "2021-07-08T07:02:21.815Z"
            },
            {
              "name": "Version",
              "value": "2010-10-01"
            }
          ],
          "url": "https://mws.amazonservices.ca/FulfillmentInventory/2010-10-01?AWSAccessKeyId=x&Action=ListInventorySupply&MWSAuthToken=x&QueryStartDateTime=2021-02-08T07%3A02%3A21.815Z&SellerId=x&Signature=NAq0L9eHEbcodUKj9ZZfvpghkUNAMLUNuMwkkufN%2FMI%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2021-07-08T07%3A02%3A21.815Z&Version=2010-10-01"
        },
        "response": {
          "content": {
            "mimeType": "text/xml;charset=utf-8",
            "size": 372,
            "text": "<ListInventorySupplyResponse xmlns=\"http://mws.amazonaws.com/FulfillmentInventory/2010-10-01/\">\n  <ListInventorySupplyResult>\n    <MarketplaceId>A2EUQ1WTGCTBG2</MarketplaceId>\n    <InventorySupplyList/>\n  </ListInventorySupplyResult>\n  <ResponseMetadata>\n    <RequestId>2053b716-3e61-472f-a746-573cd8ad85a4</RequestId>\n  </ResponseMetadata>\n</ListInventorySupplyResponse>\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/xml;charset=utf-8"
            },
            {
              "name": "x-amz-rid",
              "value": "TZP59VQ1BD8N4XNCZBQD"
            },
            {
              "name": "x-mws-request-id",
              "value": "2053b716-3e61-472f-a746-573cd8ad85a4"
            },
            {
              "name": "x-mws-timestamp",
              "value": "2021-07-08T07:02:21.894Z"
            },
            {
              "name": "x-mws-response-context",
              "value": "cas0iDdULIC8WQJnXZXTOEaPG4CONg7hFsls+CvonH6+TvvppNURy/szZ01/7FW4i6/Y7GOQAIQ="
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 160,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
