{
  "log": {
    "_recordingName": "FulfillmentInventory/should be able to get list of inventory supply",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "bcb551d9fec2f53438afc3dfb750cb9a",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "AWSAccessKeyId",
              "value": "x"
            },
            {
              "name": "Action",
              "value": "ListInventorySupply"
            },
            {
              "name": "MWSAuthToken",
              "value": "x"
            },
            {
              "name": "QueryStartDateTime",
              "value": "2021-03-11T11:13:36.930Z"
            },
            {
              "name": "SellerId",
              "value": "x"
            },
            {
              "name": "Signature",
              "value": "EXyKZuWVh57JIRSQb1h5hWHeqneVmnlhjAjnWw8PRzo="
            },
            {
              "name": "SignatureMethod",
              "value": "HmacSHA256"
            },
            {
              "name": "SignatureVersion",
              "value": "2"
            },
            {
              "name": "Timestamp",
              "value": "2021-08-08T11:13:36.931Z"
            },
            {
              "name": "Version",
              "value": "2010-10-01"
            }
          ],
          "url": "https://mws.amazonservices.ca/FulfillmentInventory/2010-10-01?AWSAccessKeyId=x&Action=ListInventorySupply&MWSAuthToken=x&QueryStartDateTime=2021-03-11T11%3A13%3A36.930Z&SellerId=x&Signature=EXyKZuWVh57JIRSQb1h5hWHeqneVmnlhjAjnWw8PRzo%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2021-08-08T11%3A13%3A36.931Z&Version=2010-10-01"
        },
        "response": {
          "content": {
            "mimeType": "text/xml;charset=utf-8",
            "size": 372,
            "text": "<ListInventorySupplyResponse xmlns=\"http://mws.amazonaws.com/FulfillmentInventory/2010-10-01/\">\n  <ListInventorySupplyResult>\n    <MarketplaceId>A2EUQ1WTGCTBG2</MarketplaceId>\n    <InventorySupplyList/>\n  </ListInventorySupplyResult>\n  <ResponseMetadata>\n    <RequestId>87048285-30ee-472f-837d-5cf23c9d3bd7</RequestId>\n  </ResponseMetadata>\n</ListInventorySupplyResponse>\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/xml;charset=utf-8"
            },
            {
              "name": "x-amz-rid",
              "value": "K840KMWFB7FMNJSWJ2D3"
            },
            {
              "name": "x-mws-request-id",
              "value": "87048285-30ee-472f-837d-5cf23c9d3bd7"
            },
            {
              "name": "x-mws-timestamp",
              "value": "2021-08-08T11:13:37.305Z"
            },
            {
              "name": "x-mws-response-context",
              "value": "HSwpzaVIHOlghuKNb/Lj7OkyHckX5vSNdQHZXlLiJuF/2hqyERm49GFzbqiD4LOvAgLnKtNKPBg="
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 479,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
