{
  "log": {
    "_recordingName": "FulfillmentInventory/should be able to get list of inventory supply",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "ef90ff6e04b56d517868b4ad2d5d674e",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "AWSAccessKeyId",
              "value": "x"
            },
            {
              "name": "Action",
              "value": "ListInventorySupply"
            },
            {
              "name": "MWSAuthToken",
              "value": "x"
            },
            {
              "name": "QueryStartDateTime",
              "value": "2021-02-08T06:59:20.930Z"
            },
            {
              "name": "SellerId",
              "value": "x"
            },
            {
              "name": "Signature",
              "value": "Se1aaAkd2gncnjllIifX8+z2N245jpu+oNcf6VItI8Q="
            },
            {
              "name": "SignatureMethod",
              "value": "HmacSHA256"
            },
            {
              "name": "SignatureVersion",
              "value": "2"
            },
            {
              "name": "Timestamp",
              "value": "2021-07-08T06:59:20.930Z"
            },
            {
              "name": "Version",
              "value": "2010-10-01"
            }
          ],
          "url": "https://mws.amazonservices.ca/FulfillmentInventory/2010-10-01?AWSAccessKeyId=x&Action=ListInventorySupply&MWSAuthToken=x&QueryStartDateTime=2021-02-08T06%3A59%3A20.930Z&SellerId=x&Signature=Se1aaAkd2gncnjllIifX8%2Bz2N245jpu%2BoNcf6VItI8Q%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2021-07-08T06%3A59%3A20.930Z&Version=2010-10-01"
        },
        "response": {
          "content": {
            "mimeType": "text/xml;charset=utf-8",
            "size": 372,
            "text": "<ListInventorySupplyResponse xmlns=\"http://mws.amazonaws.com/FulfillmentInventory/2010-10-01/\">\n  <ListInventorySupplyResult>\n    <MarketplaceId>A2EUQ1WTGCTBG2</MarketplaceId>\n    <InventorySupplyList/>\n  </ListInventorySupplyResult>\n  <ResponseMetadata>\n    <RequestId>03435a0f-d67d-4088-8876-53aade3cca3a</RequestId>\n  </ResponseMetadata>\n</ListInventorySupplyResponse>\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/xml;charset=utf-8"
            },
            {
              "name": "x-amz-rid",
              "value": "93YM47B38NM3J81NYPV0"
            },
            {
              "name": "x-mws-request-id",
              "value": "03435a0f-d67d-4088-8876-53aade3cca3a"
            },
            {
              "name": "x-mws-timestamp",
              "value": "2021-07-08T06:59:21.350Z"
            },
            {
              "name": "x-mws-response-context",
              "value": "Ercd8nuU67POs/gqFdAZcdD4vc9e84q3xLt7vbE2MVochujSwvLFEwEtAUKbG0CoKbyOYm4Pdhk="
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 469,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
