{
  "log": {
    "_recordingName": "FulfillmentInventory/should be able to get list of inventory supply",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "80e521e55d30f19764579d269de20705",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "AWSAccessKeyId",
              "value": "x"
            },
            {
              "name": "Action",
              "value": "ListInventorySupply"
            },
            {
              "name": "MWSAuthToken",
              "value": "x"
            },
            {
              "name": "QueryStartDateTime",
              "value": "2020-12-12T09:15:38.916Z"
            },
            {
              "name": "SellerId",
              "value": "x"
            },
            {
              "name": "Signature",
              "value": "bC94Q9Iua/Db/TZsNeqVAwfKAxFA+cJv+LYnNcKtBLI="
            },
            {
              "name": "SignatureMethod",
              "value": "HmacSHA256"
            },
            {
              "name": "SignatureVersion",
              "value": "2"
            },
            {
              "name": "Timestamp",
              "value": "2021-05-11T09:15:38.917Z"
            },
            {
              "name": "Version",
              "value": "2010-10-01"
            }
          ],
          "url": "https://mws.amazonservices.ca/FulfillmentInventory/2010-10-01?AWSAccessKeyId=x&Action=ListInventorySupply&MWSAuthToken=x&QueryStartDateTime=2020-12-12T09%3A15%3A38.916Z&SellerId=x&Signature=bC94Q9Iua%2FDb%2FTZsNeqVAwfKAxFA%2BcJv%2BLYnNcKtBLI%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2021-05-11T09%3A15%3A38.917Z&Version=2010-10-01"
        },
        "response": {
          "content": {
            "mimeType": "text/xml;charset=utf-8",
            "size": 372,
            "text": "<ListInventorySupplyResponse xmlns=\"http://mws.amazonaws.com/FulfillmentInventory/2010-10-01/\">\n  <ListInventorySupplyResult>\n    <MarketplaceId>A2EUQ1WTGCTBG2</MarketplaceId>\n    <InventorySupplyList/>\n  </ListInventorySupplyResult>\n  <ResponseMetadata>\n    <RequestId>ba5b3f0a-9327-43f1-a76e-686d65ae35cc</RequestId>\n  </ResponseMetadata>\n</ListInventorySupplyResponse>\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/xml;charset=utf-8"
            },
            {
              "name": "x-amz-rid",
              "value": "6NSAGVCBR4XM05P14WMK"
            },
            {
              "name": "x-mws-request-id",
              "value": "ba5b3f0a-9327-43f1-a76e-686d65ae35cc"
            },
            {
              "name": "x-mws-timestamp",
              "value": "2021-05-11T09:15:39.237Z"
            },
            {
              "name": "x-mws-response-context",
              "value": "zSiHaLQvxDSB+RKg9jA99V1Grht3W+wEs+KgZtyGHo3xfz0LsaQ/+pLrM3hehJ7f93ThnjUw498="
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 365,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
