{
  "log": {
    "_recordingName": "FulfillmentInventory/should be able to get list of inventory supply",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "cab3c01f0a0b0b2199785806b087709d",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "AWSAccessKeyId=x&Action=ListInventorySupply&MWSAuthToken=x&QueryStartDateTime=2020-01-25T12%3A03%3A06.762Z&SellerId=x&Signature=AHqUaSBiR8csPNh%2Bxh%2FarMDji8Cw7zxxvGO7G2Ecnf4%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2020-06-23T12%3A03%3A06.762Z&Version=2010-10-01"
          },
          "queryString": [],
          "url": "https://mws.amazonservices.ca/FulfillmentInventory/2010-10-01"
        },
        "response": {
          "content": {
            "mimeType": "text/xml;charset=utf-8",
            "size": 372,
            "text": "<ListInventorySupplyResponse xmlns=\"http://mws.amazonaws.com/FulfillmentInventory/2010-10-01/\">\n  <ListInventorySupplyResult>\n    <MarketplaceId>A2EUQ1WTGCTBG2</MarketplaceId>\n    <InventorySupplyList/>\n  </ListInventorySupplyResult>\n  <ResponseMetadata>\n    <RequestId>b540ec1b-80f1-4040-9a82-89f4d9c2e3eb</RequestId>\n  </ResponseMetadata>\n</ListInventorySupplyResponse>\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/xml;charset=utf-8"
            },
            {
              "name": "x-mws-request-id",
              "value": "b540ec1b-80f1-4040-9a82-89f4d9c2e3eb"
            },
            {
              "name": "x-mws-timestamp",
              "value": "2020-06-23T12:03:06.949Z"
            },
            {
              "name": "x-mws-response-context",
              "value": "/ox4a12rXzn+mB7aqEqPD8GK9DxkTilYX4Yv738NYqF2UeIlVALHU+IRyI7H1eHXhziJ+ql+rOk="
            },
            {
              "name": "x-amz-rid",
              "value": "PTAV7ZWAS8VXK3C65AVS"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 267,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
