{
  "log": {
    "_recordingName": "FulfillmentInventory/should be able to get list of inventory supply",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "2d28d1200bff5dede337a9898001268e",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "AWSAccessKeyId",
              "value": "x"
            },
            {
              "name": "Action",
              "value": "ListInventorySupply"
            },
            {
              "name": "MWSAuthToken",
              "value": "x"
            },
            {
              "name": "QueryStartDateTime",
              "value": "2021-02-08T06:56:49.401Z"
            },
            {
              "name": "SellerId",
              "value": "x"
            },
            {
              "name": "Signature",
              "value": "fPqljJyEfN98rckx4KP2tvKqf9J9rCJYbcxCH1Kw5Xc="
            },
            {
              "name": "SignatureMethod",
              "value": "HmacSHA256"
            },
            {
              "name": "SignatureVersion",
              "value": "2"
            },
            {
              "name": "Timestamp",
              "value": "2021-07-08T06:56:49.401Z"
            },
            {
              "name": "Version",
              "value": "2010-10-01"
            }
          ],
          "url": "https://mws.amazonservices.ca/FulfillmentInventory/2010-10-01?AWSAccessKeyId=x&Action=ListInventorySupply&MWSAuthToken=x&QueryStartDateTime=2021-02-08T06%3A56%3A49.401Z&SellerId=x&Signature=fPqljJyEfN98rckx4KP2tvKqf9J9rCJYbcxCH1Kw5Xc%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2021-07-08T06%3A56%3A49.401Z&Version=2010-10-01"
        },
        "response": {
          "content": {
            "mimeType": "text/xml;charset=utf-8",
            "size": 372,
            "text": "<ListInventorySupplyResponse xmlns=\"http://mws.amazonaws.com/FulfillmentInventory/2010-10-01/\">\n  <ListInventorySupplyResult>\n    <MarketplaceId>A2EUQ1WTGCTBG2</MarketplaceId>\n    <InventorySupplyList/>\n  </ListInventorySupplyResult>\n  <ResponseMetadata>\n    <RequestId>108622c2-6871-4fe5-b201-242e7a150372</RequestId>\n  </ResponseMetadata>\n</ListInventorySupplyResponse>\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/xml;charset=utf-8"
            },
            {
              "name": "x-amz-rid",
              "value": "42S1EV1P5SV2MZQXGNK0"
            },
            {
              "name": "x-mws-request-id",
              "value": "108622c2-6871-4fe5-b201-242e7a150372"
            },
            {
              "name": "x-mws-timestamp",
              "value": "2021-07-08T06:56:49.608Z"
            },
            {
              "name": "x-mws-response-context",
              "value": "13Ugs/oWarJnxoNvgGWarlkJ98CzE/1WT+e21svUA0U9Pa2PvoTx2WHXkkJMMR41SGChSnJ/mYI="
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 290,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
