{
  "log": {
    "_recordingName": "FulfillmentInventory/should be able to get list of inventory supply",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "170029e9b229eff7ea4c63ee905a3850",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "AWSAccessKeyId",
              "value": "x"
            },
            {
              "name": "Action",
              "value": "ListInventorySupply"
            },
            {
              "name": "MWSAuthToken",
              "value": "x"
            },
            {
              "name": "QueryStartDateTime",
              "value": "2020-12-06T10:22:15.220Z"
            },
            {
              "name": "SellerId",
              "value": "x"
            },
            {
              "name": "Signature",
              "value": "C+/ocT5Rya/6/X2wu+2a6EsxUQpkCF6BUniD8awh97I="
            },
            {
              "name": "SignatureMethod",
              "value": "HmacSHA256"
            },
            {
              "name": "SignatureVersion",
              "value": "2"
            },
            {
              "name": "Timestamp",
              "value": "2021-05-05T10:22:15.220Z"
            },
            {
              "name": "Version",
              "value": "2010-10-01"
            }
          ],
          "url": "https://mws.amazonservices.ca/FulfillmentInventory/2010-10-01?AWSAccessKeyId=x&Action=ListInventorySupply&MWSAuthToken=x&QueryStartDateTime=2020-12-06T10%3A22%3A15.220Z&SellerId=x&Signature=C%2B%2FocT5Rya%2F6%2FX2wu%2B2a6EsxUQpkCF6BUniD8awh97I%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2021-05-05T10%3A22%3A15.220Z&Version=2010-10-01"
        },
        "response": {
          "content": {
            "mimeType": "text/xml;charset=utf-8",
            "size": 372,
            "text": "<ListInventorySupplyResponse xmlns=\"http://mws.amazonaws.com/FulfillmentInventory/2010-10-01/\">\n  <ListInventorySupplyResult>\n    <MarketplaceId>A2EUQ1WTGCTBG2</MarketplaceId>\n    <InventorySupplyList/>\n  </ListInventorySupplyResult>\n  <ResponseMetadata>\n    <RequestId>eba459d4-d816-4fb3-b75b-5085cac0cce8</RequestId>\n  </ResponseMetadata>\n</ListInventorySupplyResponse>\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/xml;charset=utf-8"
            },
            {
              "name": "x-amz-rid",
              "value": "FY2R04K01G5YWS7KRJ72"
            },
            {
              "name": "x-mws-request-id",
              "value": "eba459d4-d816-4fb3-b75b-5085cac0cce8"
            },
            {
              "name": "x-mws-timestamp",
              "value": "2021-05-05T10:22:15.368Z"
            },
            {
              "name": "x-mws-response-context",
              "value": "24WCOCDUbQEtnjnbZAnGFKoym3wWtHCxrC+GdHPEn6Luu7yvejp0XtLQ/7o6J4LYH7kI5u+uELI="
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 240,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
