{
  "log": {
    "_recordingName": "FulfillmentInventory/should be able to get list of inventory supply",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "c1fa5dbfe29c62a320e2b77b39674b17",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "AWSAccessKeyId",
              "value": "x"
            },
            {
              "name": "Action",
              "value": "ListInventorySupply"
            },
            {
              "name": "MWSAuthToken",
              "value": "x"
            },
            {
              "name": "QueryStartDateTime",
              "value": "2021-02-08T07:03:52.994Z"
            },
            {
              "name": "SellerId",
              "value": "x"
            },
            {
              "name": "Signature",
              "value": "SITnC1BBwy4eCEUo5mH11iKNzwgLrvCU/IGVGf/dkGA="
            },
            {
              "name": "SignatureMethod",
              "value": "HmacSHA256"
            },
            {
              "name": "SignatureVersion",
              "value": "2"
            },
            {
              "name": "Timestamp",
              "value": "2021-07-08T07:03:52.994Z"
            },
            {
              "name": "Version",
              "value": "2010-10-01"
            }
          ],
          "url": "https://mws.amazonservices.ca/FulfillmentInventory/2010-10-01?AWSAccessKeyId=x&Action=ListInventorySupply&MWSAuthToken=x&QueryStartDateTime=2021-02-08T07%3A03%3A52.994Z&SellerId=x&Signature=SITnC1BBwy4eCEUo5mH11iKNzwgLrvCU%2FIGVGf%2FdkGA%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2021-07-08T07%3A03%3A52.994Z&Version=2010-10-01"
        },
        "response": {
          "content": {
            "mimeType": "text/xml;charset=utf-8",
            "size": 372,
            "text": "<ListInventorySupplyResponse xmlns=\"http://mws.amazonaws.com/FulfillmentInventory/2010-10-01/\">\n  <ListInventorySupplyResult>\n    <MarketplaceId>A2EUQ1WTGCTBG2</MarketplaceId>\n    <InventorySupplyList/>\n  </ListInventorySupplyResult>\n  <ResponseMetadata>\n    <RequestId>1ac099c6-139f-4775-a846-0d7010e807b9</RequestId>\n  </ResponseMetadata>\n</ListInventorySupplyResponse>\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/xml;charset=utf-8"
            },
            {
              "name": "x-amz-rid",
              "value": "1ZNVTQRY8W6V2SA18VHP"
            },
            {
              "name": "x-mws-request-id",
              "value": "1ac099c6-139f-4775-a846-0d7010e807b9"
            },
            {
              "name": "x-mws-timestamp",
              "value": "2021-07-08T07:03:53.145Z"
            },
            {
              "name": "x-mws-response-context",
              "value": "+DboRPbu6mmwzM0HpOt/ECBSl702Ofxt8kaH79wWzrMrv0HlLGnpRDdhOc/TSSXy7LuOCAG+Rq8="
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 193,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
