{
  "log": {
    "_recordingName": "FulfillmentInventory/should be able to get list of inventory supply",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "6f009d3f7081b9f92c1e9753dd2d7912",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "AWSAccessKeyId",
              "value": "x"
            },
            {
              "name": "Action",
              "value": "ListInventorySupply"
            },
            {
              "name": "MWSAuthToken",
              "value": "x"
            },
            {
              "name": "QueryStartDateTime",
              "value": "2021-02-08T06:58:15.676Z"
            },
            {
              "name": "SellerId",
              "value": "x"
            },
            {
              "name": "Signature",
              "value": "Aq/eoW3O9fenu110USynVoXUYBakToujniLlz/eJXgM="
            },
            {
              "name": "SignatureMethod",
              "value": "HmacSHA256"
            },
            {
              "name": "SignatureVersion",
              "value": "2"
            },
            {
              "name": "Timestamp",
              "value": "2021-07-08T06:58:15.676Z"
            },
            {
              "name": "Version",
              "value": "2010-10-01"
            }
          ],
          "url": "https://mws.amazonservices.ca/FulfillmentInventory/2010-10-01?AWSAccessKeyId=x&Action=ListInventorySupply&MWSAuthToken=x&QueryStartDateTime=2021-02-08T06%3A58%3A15.676Z&SellerId=x&Signature=Aq%2FeoW3O9fenu110USynVoXUYBakToujniLlz%2FeJXgM%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2021-07-08T06%3A58%3A15.676Z&Version=2010-10-01"
        },
        "response": {
          "content": {
            "mimeType": "text/xml;charset=utf-8",
            "size": 372,
            "text": "<ListInventorySupplyResponse xmlns=\"http://mws.amazonaws.com/FulfillmentInventory/2010-10-01/\">\n  <ListInventorySupplyResult>\n    <MarketplaceId>A2EUQ1WTGCTBG2</MarketplaceId>\n    <InventorySupplyList/>\n  </ListInventorySupplyResult>\n  <ResponseMetadata>\n    <RequestId>1f0455a9-20c9-4821-b4d5-098b58015f14</RequestId>\n  </ResponseMetadata>\n</ListInventorySupplyResponse>\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/xml;charset=utf-8"
            },
            {
              "name": "x-amz-rid",
              "value": "BEHJSC3VYRSEK3AW68M7"
            },
            {
              "name": "x-mws-request-id",
              "value": "1f0455a9-20c9-4821-b4d5-098b58015f14"
            },
            {
              "name": "x-mws-timestamp",
              "value": "2021-07-08T06:58:15.808Z"
            },
            {
              "name": "x-mws-response-context",
              "value": "qezBYEFIQmUGvS5N2vyxmRmPI9Vd1vuoTtoItHTPWamxHQGOvpOO+9cwkFS6HMO5CWVRAeY11q0="
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 168,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
