{
  "log": {
    "_recordingName": "FulfillmentInventory/should be able to get list of inventory supply",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "54ebfc5a4cc8fbd2f83d9eb31b64e3f3",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "AWSAccessKeyId",
              "value": "x"
            },
            {
              "name": "Action",
              "value": "ListInventorySupply"
            },
            {
              "name": "MWSAuthToken",
              "value": "x"
            },
            {
              "name": "QueryStartDateTime",
              "value": "2021-02-08T06:49:55.820Z"
            },
            {
              "name": "SellerId",
              "value": "x"
            },
            {
              "name": "Signature",
              "value": "VfGXVv6rMVHIlJ1+xn4YRLU/exsWIhN6kxyV+s547XQ="
            },
            {
              "name": "SignatureMethod",
              "value": "HmacSHA256"
            },
            {
              "name": "SignatureVersion",
              "value": "2"
            },
            {
              "name": "Timestamp",
              "value": "2021-07-08T06:49:55.820Z"
            },
            {
              "name": "Version",
              "value": "2010-10-01"
            }
          ],
          "url": "https://mws.amazonservices.ca/FulfillmentInventory/2010-10-01?AWSAccessKeyId=x&Action=ListInventorySupply&MWSAuthToken=x&QueryStartDateTime=2021-02-08T06%3A49%3A55.820Z&SellerId=x&Signature=VfGXVv6rMVHIlJ1%2Bxn4YRLU%2FexsWIhN6kxyV%2Bs547XQ%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2021-07-08T06%3A49%3A55.820Z&Version=2010-10-01"
        },
        "response": {
          "content": {
            "mimeType": "text/xml;charset=utf-8",
            "size": 372,
            "text": "<ListInventorySupplyResponse xmlns=\"http://mws.amazonaws.com/FulfillmentInventory/2010-10-01/\">\n  <ListInventorySupplyResult>\n    <MarketplaceId>A2EUQ1WTGCTBG2</MarketplaceId>\n    <InventorySupplyList/>\n  </ListInventorySupplyResult>\n  <ResponseMetadata>\n    <RequestId>95fedb7d-65b5-4622-a5e5-5eb690c6a8d5</RequestId>\n  </ResponseMetadata>\n</ListInventorySupplyResponse>\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/xml;charset=utf-8"
            },
            {
              "name": "x-amz-rid",
              "value": "C3254TWVKFHHDW1YKHVS"
            },
            {
              "name": "x-mws-request-id",
              "value": "95fedb7d-65b5-4622-a5e5-5eb690c6a8d5"
            },
            {
              "name": "x-mws-timestamp",
              "value": "2021-07-08T06:49:56.355Z"
            },
            {
              "name": "x-mws-response-context",
              "value": "3q6elEc3g8Hk1kFg8Q+3nPbnICjkR5qbZ2mUKpz4zBaWSXPtgTUdJtHAo0RWrOxoDfTUpbTx3PA="
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 662,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
