{
  "log": {
    "_recordingName": "FulfillmentInventory/should be able to get list of inventory supply",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "f8691df9e50c6c9d24e9650a3730b49b",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "AWSAccessKeyId",
              "value": "x"
            },
            {
              "name": "Action",
              "value": "ListInventorySupply"
            },
            {
              "name": "MWSAuthToken",
              "value": "x"
            },
            {
              "name": "QueryStartDateTime",
              "value": "2020-12-11T07:17:14.335Z"
            },
            {
              "name": "SellerId",
              "value": "x"
            },
            {
              "name": "Signature",
              "value": "wTLWJuS6OlKGCdzJwAiFTki6cr1Z3nv+2nQguFatZmo="
            },
            {
              "name": "SignatureMethod",
              "value": "HmacSHA256"
            },
            {
              "name": "SignatureVersion",
              "value": "2"
            },
            {
              "name": "Timestamp",
              "value": "2021-05-10T07:17:14.336Z"
            },
            {
              "name": "Version",
              "value": "2010-10-01"
            }
          ],
          "url": "https://mws.amazonservices.ca/FulfillmentInventory/2010-10-01?AWSAccessKeyId=x&Action=ListInventorySupply&MWSAuthToken=x&QueryStartDateTime=2020-12-11T07%3A17%3A14.335Z&SellerId=x&Signature=wTLWJuS6OlKGCdzJwAiFTki6cr1Z3nv%2B2nQguFatZmo%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2021-05-10T07%3A17%3A14.336Z&Version=2010-10-01"
        },
        "response": {
          "content": {
            "mimeType": "text/xml;charset=utf-8",
            "size": 372,
            "text": "<ListInventorySupplyResponse xmlns=\"http://mws.amazonaws.com/FulfillmentInventory/2010-10-01/\">\n  <ListInventorySupplyResult>\n    <MarketplaceId>A2EUQ1WTGCTBG2</MarketplaceId>\n    <InventorySupplyList/>\n  </ListInventorySupplyResult>\n  <ResponseMetadata>\n    <RequestId>4b8122ba-67ab-4416-a542-39ad2b99b0d8</RequestId>\n  </ResponseMetadata>\n</ListInventorySupplyResponse>\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/xml;charset=utf-8"
            },
            {
              "name": "x-amz-rid",
              "value": "9V6K71D1DMZ61VFE11D8"
            },
            {
              "name": "x-mws-request-id",
              "value": "4b8122ba-67ab-4416-a542-39ad2b99b0d8"
            },
            {
              "name": "x-mws-timestamp",
              "value": "2021-05-10T07:17:14.681Z"
            },
            {
              "name": "x-mws-response-context",
              "value": "BAij7FYJSHMRmllVgxTUfmrumrsmjpX4C9TSOgXe0elcHv7X0Ead3OeyZ8LuaIos09Wu8bnjoPs="
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 433,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
