{
  "log": {
    "_recordingName": "FulfillmentInventory/should be able to get list of inventory supply",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "8aa4f60d10049f25b40d34783b6d5702",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "AWSAccessKeyId",
              "value": "x"
            },
            {
              "name": "Action",
              "value": "ListInventorySupply"
            },
            {
              "name": "MWSAuthToken",
              "value": "x"
            },
            {
              "name": "QueryStartDateTime",
              "value": "2021-02-08T07:06:10.485Z"
            },
            {
              "name": "SellerId",
              "value": "x"
            },
            {
              "name": "Signature",
              "value": "sWcs//rLqJLVvMzLqeX/nX2Ar3MCJ2CsNpN1brP/frI="
            },
            {
              "name": "SignatureMethod",
              "value": "HmacSHA256"
            },
            {
              "name": "SignatureVersion",
              "value": "2"
            },
            {
              "name": "Timestamp",
              "value": "2021-07-08T07:06:10.485Z"
            },
            {
              "name": "Version",
              "value": "2010-10-01"
            }
          ],
          "url": "https://mws.amazonservices.ca/FulfillmentInventory/2010-10-01?AWSAccessKeyId=x&Action=ListInventorySupply&MWSAuthToken=x&QueryStartDateTime=2021-02-08T07%3A06%3A10.485Z&SellerId=x&Signature=sWcs%2F%2FrLqJLVvMzLqeX%2FnX2Ar3MCJ2CsNpN1brP%2FfrI%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2021-07-08T07%3A06%3A10.485Z&Version=2010-10-01"
        },
        "response": {
          "content": {
            "mimeType": "text/xml;charset=utf-8",
            "size": 372,
            "text": "<ListInventorySupplyResponse xmlns=\"http://mws.amazonaws.com/FulfillmentInventory/2010-10-01/\">\n  <ListInventorySupplyResult>\n    <MarketplaceId>A2EUQ1WTGCTBG2</MarketplaceId>\n    <InventorySupplyList/>\n  </ListInventorySupplyResult>\n  <ResponseMetadata>\n    <RequestId>174e826d-7599-4339-bdb1-edd2f8c4a121</RequestId>\n  </ResponseMetadata>\n</ListInventorySupplyResponse>\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/xml;charset=utf-8"
            },
            {
              "name": "x-amz-rid",
              "value": "T3S684AV04MXAP511FQ3"
            },
            {
              "name": "x-mws-request-id",
              "value": "174e826d-7599-4339-bdb1-edd2f8c4a121"
            },
            {
              "name": "x-mws-timestamp",
              "value": "2021-07-08T07:06:10.605Z"
            },
            {
              "name": "x-mws-response-context",
              "value": "0hMX3F8apqhoPUU9m20G7UwqCcISrlfniLgYNTm6ekPvZtOj6XQ9UGGOIgeCbOYFuUORKPxw6rE="
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 160,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
