{
  "log": {
    "_recordingName": "FulfillmentInventory/should be able to get list of inventory supply",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "e9df891256346bcc6790673a453b21f8",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "AWSAccessKeyId",
              "value": "x"
            },
            {
              "name": "Action",
              "value": "ListInventorySupply"
            },
            {
              "name": "MWSAuthToken",
              "value": "x"
            },
            {
              "name": "QueryStartDateTime",
              "value": "2021-03-11T00:00:00.000Z"
            },
            {
              "name": "SellerId",
              "value": "x"
            },
            {
              "name": "Signature",
              "value": "pAUhQdnXdLrlQManhpfkuriQWrySD7F0A8khs5c2VNM="
            },
            {
              "name": "SignatureMethod",
              "value": "HmacSHA256"
            },
            {
              "name": "SignatureVersion",
              "value": "2"
            },
            {
              "name": "Timestamp",
              "value": "2021-09-18T06:17:01.326Z"
            },
            {
              "name": "Version",
              "value": "2010-10-01"
            }
          ],
          "url": "https://mws.amazonservices.ca/FulfillmentInventory/2010-10-01?AWSAccessKeyId=x&Action=ListInventorySupply&MWSAuthToken=x&QueryStartDateTime=2021-03-11T00%3A00%3A00.000Z&SellerId=x&Signature=pAUhQdnXdLrlQManhpfkuriQWrySD7F0A8khs5c2VNM%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2021-09-18T06%3A17%3A01.326Z&Version=2010-10-01"
        },
        "response": {
          "content": {
            "mimeType": "text/xml;charset=utf-8",
            "size": 372,
            "text": "<ListInventorySupplyResponse xmlns=\"http://mws.amazonaws.com/FulfillmentInventory/2010-10-01/\">\n  <ListInventorySupplyResult>\n    <MarketplaceId>A2EUQ1WTGCTBG2</MarketplaceId>\n    <InventorySupplyList/>\n  </ListInventorySupplyResult>\n  <ResponseMetadata>\n    <RequestId>07fa33bf-3144-4c95-8644-53f4426733b4</RequestId>\n  </ResponseMetadata>\n</ListInventorySupplyResponse>\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/xml;charset=utf-8"
            },
            {
              "name": "x-amz-rid",
              "value": "P7F45D8FH10HMG1ET34E"
            },
            {
              "name": "x-mws-request-id",
              "value": "07fa33bf-3144-4c95-8644-53f4426733b4"
            },
            {
              "name": "x-mws-timestamp",
              "value": "2021-09-18T06:17:02.766Z"
            },
            {
              "name": "x-mws-response-context",
              "value": "jsc7V3AcVFJU4TW1jbhgeXmU8pic4sH/pjr4l8RtKbMFcns44PwdccS5f/4NDQUoppuzoOgq3CI="
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1431,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
