{
  "log": {
    "_recordingName": "FulfillmentInventory/should be able to get list of inventory supply",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "7795f2079f5fb02ae825889fa78a04cc",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "AWSAccessKeyId",
              "value": "x"
            },
            {
              "name": "Action",
              "value": "ListInventorySupply"
            },
            {
              "name": "MWSAuthToken",
              "value": "x"
            },
            {
              "name": "QueryStartDateTime",
              "value": "2021-02-08T07:00:26.610Z"
            },
            {
              "name": "SellerId",
              "value": "x"
            },
            {
              "name": "Signature",
              "value": "Q6gSf/68W+3P2GQBYGzFW0VMMETp96Gm5i2oZDYpffY="
            },
            {
              "name": "SignatureMethod",
              "value": "HmacSHA256"
            },
            {
              "name": "SignatureVersion",
              "value": "2"
            },
            {
              "name": "Timestamp",
              "value": "2021-07-08T07:00:26.611Z"
            },
            {
              "name": "Version",
              "value": "2010-10-01"
            }
          ],
          "url": "https://mws.amazonservices.ca/FulfillmentInventory/2010-10-01?AWSAccessKeyId=x&Action=ListInventorySupply&MWSAuthToken=x&QueryStartDateTime=2021-02-08T07%3A00%3A26.610Z&SellerId=x&Signature=Q6gSf%2F68W%2B3P2GQBYGzFW0VMMETp96Gm5i2oZDYpffY%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2021-07-08T07%3A00%3A26.611Z&Version=2010-10-01"
        },
        "response": {
          "content": {
            "mimeType": "text/xml;charset=utf-8",
            "size": 372,
            "text": "<ListInventorySupplyResponse xmlns=\"http://mws.amazonaws.com/FulfillmentInventory/2010-10-01/\">\n  <ListInventorySupplyResult>\n    <MarketplaceId>A2EUQ1WTGCTBG2</MarketplaceId>\n    <InventorySupplyList/>\n  </ListInventorySupplyResult>\n  <ResponseMetadata>\n    <RequestId>ac248ae2-b7b3-4ce7-a57e-e69fd38972e9</RequestId>\n  </ResponseMetadata>\n</ListInventorySupplyResponse>\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/xml;charset=utf-8"
            },
            {
              "name": "x-amz-rid",
              "value": "H4BYR013NQ885GDQR3BH"
            },
            {
              "name": "x-mws-request-id",
              "value": "ac248ae2-b7b3-4ce7-a57e-e69fd38972e9"
            },
            {
              "name": "x-mws-timestamp",
              "value": "2021-07-08T07:00:26.663Z"
            },
            {
              "name": "x-mws-response-context",
              "value": "X+9y/VN5XRy1DhIkNJWbPUqaWqHx0If8uCSx1L3fE2M3NWxnE1sj/azGZgRw8wQn9cvc44t8SjM="
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 93,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
