{
  "log": {
    "_recordingName": "FulfillmentInventory/should be able to get list of inventory supply",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "02ed28cf628bd30994eb94ecc18ef66b",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "AWSAccessKeyId",
              "value": "x"
            },
            {
              "name": "Action",
              "value": "ListInventorySupply"
            },
            {
              "name": "MWSAuthToken",
              "value": "x"
            },
            {
              "name": "QueryStartDateTime",
              "value": "2020-12-08T11:59:07.217Z"
            },
            {
              "name": "SellerId",
              "value": "x"
            },
            {
              "name": "Signature",
              "value": "1pDiGTNjx91AC5Xu+8SQRqmuSoyGPJv267823Ox4jmA="
            },
            {
              "name": "SignatureMethod",
              "value": "HmacSHA256"
            },
            {
              "name": "SignatureVersion",
              "value": "2"
            },
            {
              "name": "Timestamp",
              "value": "2021-05-07T11:59:07.217Z"
            },
            {
              "name": "Version",
              "value": "2010-10-01"
            }
          ],
          "url": "https://mws.amazonservices.ca/FulfillmentInventory/2010-10-01?AWSAccessKeyId=x&Action=ListInventorySupply&MWSAuthToken=x&QueryStartDateTime=2020-12-08T11%3A59%3A07.217Z&SellerId=x&Signature=1pDiGTNjx91AC5Xu%2B8SQRqmuSoyGPJv267823Ox4jmA%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2021-05-07T11%3A59%3A07.217Z&Version=2010-10-01"
        },
        "response": {
          "content": {
            "mimeType": "text/xml;charset=utf-8",
            "size": 372,
            "text": "<ListInventorySupplyResponse xmlns=\"http://mws.amazonaws.com/FulfillmentInventory/2010-10-01/\">\n  <ListInventorySupplyResult>\n    <MarketplaceId>A2EUQ1WTGCTBG2</MarketplaceId>\n    <InventorySupplyList/>\n  </ListInventorySupplyResult>\n  <ResponseMetadata>\n    <RequestId>3062a9f5-9275-433d-b5c0-04bfceb02627</RequestId>\n  </ResponseMetadata>\n</ListInventorySupplyResponse>\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/xml;charset=utf-8"
            },
            {
              "name": "x-amz-rid",
              "value": "7X0V1JVMJD67C6FSQF0Z"
            },
            {
              "name": "x-mws-request-id",
              "value": "3062a9f5-9275-433d-b5c0-04bfceb02627"
            },
            {
              "name": "x-mws-timestamp",
              "value": "2021-05-07T11:59:07.370Z"
            },
            {
              "name": "x-mws-response-context",
              "value": "vcrXxjNqIwYxlHc7d1vRQHjJZgYwPNHqso9Tv1ro1L66QaEaWCLAwuatNjTbP0GnR6zechK+lzY="
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 231,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
