{
  "log": {
    "_recordingName": "FulfillmentInventory/should be able to get list of inventory supply",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "df395f020caa922994b60949fb206bec",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "AWSAccessKeyId",
              "value": "x"
            },
            {
              "name": "Action",
              "value": "ListInventorySupply"
            },
            {
              "name": "MWSAuthToken",
              "value": "x"
            },
            {
              "name": "QueryStartDateTime",
              "value": "2021-02-08T07:04:22.514Z"
            },
            {
              "name": "SellerId",
              "value": "x"
            },
            {
              "name": "Signature",
              "value": "LypfT2EwkkE4Z1fltA7+CKWM1LWwRvNlEveoSacr1sA="
            },
            {
              "name": "SignatureMethod",
              "value": "HmacSHA256"
            },
            {
              "name": "SignatureVersion",
              "value": "2"
            },
            {
              "name": "Timestamp",
              "value": "2021-07-08T07:04:22.514Z"
            },
            {
              "name": "Version",
              "value": "2010-10-01"
            }
          ],
          "url": "https://mws.amazonservices.ca/FulfillmentInventory/2010-10-01?AWSAccessKeyId=x&Action=ListInventorySupply&MWSAuthToken=x&QueryStartDateTime=2021-02-08T07%3A04%3A22.514Z&SellerId=x&Signature=LypfT2EwkkE4Z1fltA7%2BCKWM1LWwRvNlEveoSacr1sA%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2021-07-08T07%3A04%3A22.514Z&Version=2010-10-01"
        },
        "response": {
          "content": {
            "mimeType": "text/xml;charset=utf-8",
            "size": 372,
            "text": "<ListInventorySupplyResponse xmlns=\"http://mws.amazonaws.com/FulfillmentInventory/2010-10-01/\">\n  <ListInventorySupplyResult>\n    <MarketplaceId>A2EUQ1WTGCTBG2</MarketplaceId>\n    <InventorySupplyList/>\n  </ListInventorySupplyResult>\n  <ResponseMetadata>\n    <RequestId>3d41679a-08b2-430c-ab3c-e3292b30ceaa</RequestId>\n  </ResponseMetadata>\n</ListInventorySupplyResponse>\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/xml;charset=utf-8"
            },
            {
              "name": "x-amz-rid",
              "value": "G5PNV0PE9QTTWC00KF47"
            },
            {
              "name": "x-mws-request-id",
              "value": "3d41679a-08b2-430c-ab3c-e3292b30ceaa"
            },
            {
              "name": "x-mws-timestamp",
              "value": "2021-07-08T07:04:22.671Z"
            },
            {
              "name": "x-mws-response-context",
              "value": "hmZskFzkFLHdp/eAfOJIit5OucqwFj4e//3t+meug71vIKIPkXtqJmB3EjoHB7/2mh4MTHmr8pM="
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 230,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
