{
  "log": {
    "_recordingName": "Finances/list financial events should post succesfully with a basic request",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.2.1"
    },
    "entries": [
      {
        "_id": "8e0276da102ca0eb73d8b5f14bb52338",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "AWSAccessKeyId=x&Action=ListFinancialEvents&MWSAuthToken=x&PostedAfter=2020-01-21T13%3A55%3A11.893Z&SellerId=x&Signature=MjXxl%2Fiurs3b3mzmEDwmZfOqTmdGmbKW46oi6Z9NcyI%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2020-06-19T13%3A55%3A12.981Z&Version=2015-05-01"
          },
          "queryString": [],
          "url": "https://mws.amazonservices.ca/Finances/2015-05-01"
        },
        "response": {
          "content": {
            "mimeType": "text/xml",
            "size": 9276,
            "text": "<ListFinancialEventsResponse xmlns=\"http://mws.amazonservices.com/Finances/2015-05-01\">\n  <ListFinancialEventsResult>\n    <FinancialEvents>\n      <ProductAdsPaymentEventList/>\n      <RentalTransactionEventList/>\n      <ServiceFeeEventList>\n        <ServiceFeeEvent>\n          <FeeList>\n            <FeeComponent>\n              <FeeAmount>\n                <CurrencyAmount>-29.99</CurrencyAmount>\n                <CurrencyCode>CAD</CurrencyCode>\n              </FeeAmount>\n              <FeeType>Subscription</FeeType>\n            </FeeComponent>\n          </FeeList>\n        </ServiceFeeEvent>\n        <ServiceFeeEvent>\n          <FeeList>\n            <FeeComponent>\n              <FeeAmount>\n                <CurrencyAmount>-29.99</CurrencyAmount>\n                <CurrencyCode>CAD</CurrencyCode>\n              </FeeAmount>\n              <FeeType>Subscription</FeeType>\n            </FeeComponent>\n          </FeeList>\n        </ServiceFeeEvent>\n        <ServiceFeeEvent>\n      [...]
