{
  "log": {
    "_recordingName": "reports/after creating a schedule list it should return a count of more than one",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.2.1"
    },
    "entries": [
      {
        "_id": "42d158f19f642ff1da025e065b80d080",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "AWSAccessKeyId=x&Action=ManageReportSchedule&MWSAuthToken=x&ReportType=_GET_FLAT_FILE_ACTIONABLE_ORDER_DATA_&Schedule=_30_DAYS_&SellerId=x&Signature=xcsDZOmYhU5qAFM8bZD1nP8UCQcx%2Bms6VdABdSh4Sug%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2020-06-12T11%3A28%3A32.530Z&Version=2009-01-01"
          },
          "queryString": [],
          "url": "https://mws.amazonservices.ca/Reports/2009-01-01"
        },
        "response": {
          "content": {
            "mimeType": "text/xml",
            "size": 537,
            "text": "<?xml version=\"1.0\"?>\n<ManageReportScheduleResponse xmlns=\"http://mws.amazonaws.com/doc/2009-01-01/\">\n  <ManageReportScheduleResult>\n    <ReportSchedule>\n      <ReportType>_GET_FLAT_FILE_ACTIONABLE_ORDER_DATA_</ReportType>\n      <Schedule>_30_DAYS_</Schedule>\n      <ScheduledDate>2020-06-12T11:28:33+00:00</ScheduledDate>\n    </ReportSchedule>\n    <Count>1</Count>\n  </ManageReportScheduleResult>\n  <ResponseMetadata>\n    <RequestId>659f8633-499b-4155-a4a5-5ea79b2b3bf6</RequestId>\n  </ResponseMetadata>\n</ManageReportScheduleResponse>\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/xml"
            },
            {
              "name": "x-mws-quota-max",
              "value": "80.0"
            },
            {
              "name": "x-mws-quota-remaining",
              "value": "80.0"
            },
            {
              "name": "x-mws-quota-[...]
