{
  "log": {
    "_recordingName": "Feeds/should succesfully get count of feeds",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "5a6ba40da21717e76b8a9ccec14e29cf",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "AWSAccessKeyId=x&Action=GetFeedSubmissionCount&MWSAuthToken=x&SellerId=x&Signature=DPwM5jpaK1VIaQ%2FIhv8OOopPI7NBjkTht06PV182DZE%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2020-06-25T08%3A05%3A28.330Z&Version=2009-01-01"
          },
          "queryString": [],
          "url": "https://mws.amazonservices.ca/Feeds/2009-01-01"
        },
        "response": {
          "content": {
            "mimeType": "text/xml",
            "size": 333,
            "text": "<?xml version=\"1.0\"?>\n<GetFeedSubmissionCountResponse xmlns=\"http://mws.amazonaws.com/doc/2009-01-01/\">\n  <GetFeedSubmissionCountResult>\n    <Count>3</Count>\n  </GetFeedSubmissionCountResult>\n  <ResponseMetadata>\n    <RequestId>45937581-4601-4c57-bf60-7ec364733a94</RequestId>\n  </ResponseMetadata>\n</GetFeedSubmissionCountResponse>\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/xml"
            },
            {
              "name": "x-mws-quota-max",
              "value": "80.0"
            },
            {
              "name": "x-mws-quota-remaining",
              "value": "80.0"
            },
            {
              "name": "x-mws-quot[...]
