{
  "log": {
    "_recordingName": "Feeds/should be able to get count of feeds",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "5a6ba40da21717e76b8a9ccec14e29cf",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "AWSAccessKeyId=x&Action=GetFeedSubmissionListByNextToken&MWSAuthToken=x&SellerId=x&Signature=2Ea0QAEifRC4pWKlcMh40ikYZFHqkucUrO0PdSi8geo%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2020-06-25T04%3A05%3A28.661Z&Version=2009-01-01"
          },
          "queryString": [],
          "url": "https://mws.amazonservices.ca/Feeds/2009-01-01"
        },
        "response": {
          "content": {
            "mimeType": "text/xml",
            "size": 376,
            "text": "<?xml version=\"1.0\"?>\n<ErrorResponse xmlns=\"http://mws.amazonaws.com/doc/2009-01-01/\">\n  <Error>\n    <Type>Sender</Type>\n    <Code>ValidationError</Code>\n    <Message>1 validation error detected: Value null at 'nextToken' failed to satisfy constraint: Member must not be null</Message>\n  </Error>\n  <RequestId>598a82be-d4ed-4bb6-802d-8e9150036d43</RequestId>\n</ErrorResponse>\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/xml"
            },
            {
              "name": "x-mws-quota-max",
              "value": "1800.0"
            },
            {
              "name": "x-mws-quota-remaining",
              "value": "1800.0"
            },
            {
              "name": "x-mws-quota-resetson",
              "value": [...]
