{
  "log": {
    "_recordingName": "Recommendations/should be able to query last updated time for recommendations",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.0.0"
    },
    "entries": [
      {
        "_id": "47c37281134ec8975d74531e45a5ed0a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "AWSAccessKeyId=x&Action=GetLastUpdatedTimeForRecommendations&MWSAuthToken=x&MarketplaceId=ATVPDKIKX0DER&SellerId=x&Signature=7t8QokCriUCM%2FQWHwZxjIK2qAiBgIbUmxOleF53Tet8%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2020-07-08T06%3A14%3A39.555Z&Version=2013-04-01"
          },
          "queryString": [],
          "url": "https://mws.amazonservices.ca/Recommendations/2013-04-01"
        },
        "response": {
          "content": {
            "mimeType": "text/xml",
            "size": 316,
            "text": "<GetLastUpdatedTimeForRecommendationsResponse xmlns=\"https://mws.amazonservices.com/Recommendations/2013-04-01\">\n  <GetLastUpdatedTimeForRecommendationsResult/>\n  <ResponseMetadata>\n    <RequestId>c7039ecf-7f5e-4c86-bb7c-4675791b7259</RequestId>\n  </ResponseMetadata>\n</GetLastUpdatedTimeForRecommendationsResponse>\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/xml"
            },
            {
              "name": "x-mws-request-id",
              "value": "c7039ecf-7f5e-4c86-bb7c-4675791b7259"
            },
            {
              "name": "x-mws-timestamp",
              "value": "2020-07-08T06:14:39.723Z"
            },
            {
              "name": "x-mws-response-context",
              "value": "8vUT3ePo6+cRcDk/2zPGiGBbRKLOzK9qLFG7AYOv0zmQtAKvsPw+Sw1t/DqXqZzYH5GuKNUskIo="
            },
            {
              "name": "x-amz-rid",
              "value": "V2F1QESQRQ68NBPQ2AFF"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 309,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
