{
  "log": {
    "_recordingName": "Sellers/should be able to query marketplace participation",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.2.1"
    },
    "entries": [
      {
        "_id": "4df7ed7e37c291697b74ef4e6a2e4cc7",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "AWSAccessKeyId=x&Action=ListMarketplaceParticipations&MWSAuthToken=x&SellerId=x&Signature=QoFKD1OLVy%2BRS2esRlKbHeMAjosxmrSTO44depR23tY%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2020-05-28T11%3A22%3A23.514Z&Version=2011-07-01"
          },
          "queryString": [],
          "url": "https://mws.amazonservices.ca/Sellers/2011-07-01"
        },
        "response": {
          "content": {
            "mimeType": "text/xml",
            "size": 1540,
            "text": "<?xml version=\"1.0\"?>\n<ListMarketplaceParticipationsResponse xmlns=\"https://mws.amazonservices.com/Sellers/2011-07-01\">\n  <ListMarketplaceParticipationsResult>\n    <ListParticipations>\n      <Participation>\n        <MarketplaceId>A2EUQ1WTGCTBG2</MarketplaceId>\n        <SellerId>x</SellerId>\n        <HasSellerSuspendedListings>No</HasSellerSuspendedListings>\n      </Participation>\n      <Participation>\n        <MarketplaceId>A6W85IYQ5WB1C</MarketplaceId>\n        <SellerId>x</SellerId>\n        <HasSellerSuspendedListings>No</HasSellerSuspendedListings>\n      </Participation>\n    </ListParticipations>\n    <ListMarketplaces>\n      <Marketplace>\n        <MarketplaceId>A2EUQ1WTGCTBG2</MarketplaceId>\n        <DefaultCountryCode>CA</DefaultCountryCode>\n        <DomainName>www.amazon.ca</DomainName>\n        <Name>Amazon.ca</Name>\n        <DefaultCurrencyCode>CAD</DefaultCurrencyCode>\n        <DefaultLanguageCode>en_CA</DefaultLanguageCode>\n      </Marketplace>\n      <Marketplace>\n        <MarketplaceId>A6W85IYQ5WB1C</MarketplaceId>\n        <DefaultCountryCode>US</DefaultCountryCode>\n        <DomainName>iba.login.amazon.com</DomainName>\n        <Name>IBA</Name>\n        <DefaultCurrencyCode>USD</DefaultCurrencyCode>\n        <DefaultLanguageCode>en_US</DefaultLanguageCode>\n      </Marketplace>\n    </ListMarketplaces>\n  </ListMarketplaceParticipationsResult>\n  <ResponseMetadata>\n    <RequestId>007a5d0a-4029-4825-a97d-dae1ab378367</RequestId>\n  </ResponseMetadata>\n</ListMarketplaceParticipationsResponse>\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/xml"
            },
            {
              "name": "x-amz-date",
              "value": "Thu, 28 May 2020 11:22:24 GMT"
            },
            {
              "name": "x-amzn-authorization",
              "value": "AAA identity=com.amazon.aaa.MarketplaceWebServiceSellers.AndromedaControlService.amzn1.aaa.id.qhz3ylg755gkejyk5sh44qm3wy.Default/1, Operation=ListMarketplaceParticipations, Service=MarketplaceWebServiceSellers, Encrypted=true, SignedHeaders=X-Amz-Date, Algorithm=HmacSHA256, Signed=true, Signature=ZZj3DpIlL/oxnEHRxZk0lg4/LILcqKlmyA2jwhJ6wIg=,RelationshipVersion=0"
            },
            {
              "name": "x-mws-request-id",
              "value": "007a5d0a-4029-4825-a97d-dae1ab378367"
            },
            {
              "name": "x-mws-timestamp",
              "value": "2020-05-28T11:22:24.537Z"
            },
            {
              "name": "x-mws-response-context",
              "value": "6qlo31XdavZj78WYBoZZ+PtHNT6UjJtzbgk9NqP8aOtEW0z8HbkfnLKtTWWmCsQ1LprbDQyRtAw="
            },
            {
              "name": "x-amz-rid",
              "value": "6V1YNVJK0W2FM8T14782"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1223,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
