{
  "log": {
    "_recordingName": "reports/should succesfully get report schedule list",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.2.1"
    },
    "entries": [
      {
        "_id": "42d158f19f642ff1da025e065b80d080",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "AWSAccessKeyId=x&Action=GetReportScheduleList&MWSAuthToken=x&SellerId=x&Signature=QMf5yVaG96qDW%2BgvUiDziYRCt2CTx0J2sX%2B12vgphD4%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2020-06-11T12%3A45%3A52.274Z&Version=2009-01-01"
          },
          "queryString": [],
          "url": "https://mws.amazonservices.ca/Reports/2009-01-01"
        },
        "response": {
          "content": {
            "mimeType": "text/xml",
            "size": 337,
            "text": "<?xml version=\"1.0\"?>\n<GetReportScheduleListResponse xmlns=\"http://mws.amazonaws.com/doc/2009-01-01/\">\n  <GetReportScheduleListResult>\n    <HasNext>false</HasNext>\n  </GetReportScheduleListResult>\n  <ResponseMetadata>\n    <RequestId>e1d80b24-589c-434f-9557-cf7e81323d2b</RequestId>\n  </ResponseMetadata>\n</GetReportScheduleListResponse>\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/xml"
            },
            {
              "name": "x-mws-quota-max",
              "value": "80.0"
            },
            {
              "name": "x-mws-quota-remaining",
              "value": "80.0"
            },
            {
              "name": "x-mws-quota[...]
