{
  "log": {
    "_recordingName": "Recommendations/should be able to query service status",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.0.0"
    },
    "entries": [
      {
        "_id": "47c37281134ec8975d74531e45a5ed0a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "AWSAccessKeyId=x&Action=GetServiceStatus&MWSAuthToken=x&SellerId=x&Signature=kbSJm73eXsSNWiyQQYsmSEh7rhu%2BiYUMLoz83ub8FOE%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2020-07-07T23%3A50%3A11.677Z&Version=2013-04-01"
          },
          "queryString": [],
          "url": "https://mws.amazonservices.ca/Recommendations/2013-04-01"
        },
        "response": {
          "content": {
            "mimeType": "text/xml",
            "size": 384,
            "text": "<?xml version=\"1.0\"?>\n<GetServiceStatusResponse xmlns=\"https://mws.amazonservices.com/Recommendations/2013-04-01\">\n  <GetServiceStatusResult>\n    <Status>GREEN</Status>\n    <Timestamp>2020-07-07T23:50:11.841Z</Timestamp>\n  </GetServiceStatusResult>\n  <ResponseMetadata>\n    <RequestId>8a764602-0ba5-46f0-82cd-ee1eedebf093</RequestId>\n  </ResponseMetadata>\n</GetServiceStatusResponse>\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/xml"
            },
            {
              "name": "x-mws-request-id",
              "value": "8a764602-0ba5-46f0-82cd-ee1eedebf093"
            },
            {
              "name": "x-mws-timestamp",
              "value": "2020-07-07T23:50:11.841Z"
            },
            {
              "name": "x-mws-response-context",
              "value": "f0HChIzAiFSYU7GCQwlzeWeeiqXXc297A7RvVIksY8/pKawRqytYJM2y2sEsLhQ4IzpncbEa/ko="
            },
            {
              "name": "x-amz-rid",
              "value": "RFQ9TW58P5WNGY9DTNS5"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 177,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
