{
  "log": {
    "_recordingName": "Orders/should be able to query list orders",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.2.1"
    },
    "entries": [
      {
        "_id": "336d0ff37652b74fdc4652dcf6d5f83f",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "AWSAccessKeyId=x&Action=ListOrders&CreatedAfter=2017-05-28T11%3A22%3A24.764Z&MWSAuthToken=x&MarketplaceId.Id.1=A2EUQ1WTGCTBG2&SellerId=x&Signature=hsRQ6jMmFJ9XysmbMoXOpBnGuLUZUhs8iQWZnb6kgFs%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2020-05-28T11%3A22%3A24.768Z&Version=2013-09-01"
          },
          "queryString": [],
          "url": "https://mws.amazonservices.ca/Orders/2013-09-01"
        },
        "response": {
          "content": {
            "mimeType": "text/xml",
            "size": 346,
            "text": "<?xml version=\"1.0\"?>\n<ListOrdersResponse xmlns=\"https://mws.amazonservices.com/Orders/2013-09-01\">\n  <ListOrdersResult>\n    <Orders/>\n    <CreatedBefore>2020-05-28T11:20:25.747Z</CreatedBefore>\n  </ListOrdersResult>\n  <ResponseMetadata>\n    <RequestId>47298250-a881-4d1a-a106-f9a7c4e64291</RequestId>\n  </ResponseMetadata>\n</ListOrdersResponse>\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/xml"
            },
            {
              "name": "x-amz-date",
              "value": "Thu, 28 May 2020 11:22:25 GMT"
            },
            {
              "name": "x-amzn-authorization",
              "value": "AAA identity=com.amazon.aaa.MarketplaceWebServiceOrders.AndromedaControlService.amzn1.aaa.id.qhz3ylg755gkejyk5sh44qm3wy.Default/1, Operation=ListOrders, Service=MarketplaceWebServiceOrders, Encrypted=false, SignedHeaders=X-Amz-Date, Algorithm=HmacSHA256, Signed=true, Signature=s3V4eaarWR8rnYO2rSmH28lCKMonlmgdZBinWw1yRKY=,RelationshipVersion=0"
            },
            {
              "name": "x-mws-request-id",
              "value": "47298250-a881-4d1a-a106-f9a7c4e64291"
            },
            {
              "name": "x-mws-timestamp",
              "value": "2020-05-28T11:22:25.680Z"
            },
            {
              "name": "x-mws-response-context",
              "value": "qvQJEYOSf566epHKmkFV86m2SrmvWHtl8UVZS2U6STaZ2l19G2WR/l6t3mUXMx9fEQjDHvlitKE="
            },
            {
              "name": "x-amz-rid",
              "value": "JQ9HR851SGY3YGJ9ECEF"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1116,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
