{
  "log": {
    "_recordingName": "Orders/should be able to query list orders",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.2.1"
    },
    "entries": [
      {
        "_id": "336d0ff37652b74fdc4652dcf6d5f83f",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "AWSAccessKeyId=x&Action=ListOrders&CreatedAfter=2017-05-28T11%3A28%3A52.934Z&MWSAuthToken=x&MarketplaceId.Id.1=A2EUQ1WTGCTBG2&SellerId=x&Signature=j1Bkmjr8eFlcUxHMBmLTbtAeZRN0VPIYRAFR32Krw9I%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2020-05-28T11%3A28%3A53.008Z&Version=2013-09-01"
          },
          "queryString": [],
          "url": "https://mws.amazonservices.ca/Orders/2013-09-01"
        },
        "response": {
          "content": {
            "mimeType": "text/xml",
            "size": 346,
            "text": "<?xml version=\"1.0\"?>\n<ListOrdersResponse xmlns=\"https://mws.amazonservices.com/Orders/2013-09-01\">\n  <ListOrdersResult>\n    <Orders/>\n    <CreatedBefore>2020-05-28T11:26:53.307Z</CreatedBefore>\n  </ListOrdersResult>\n  <ResponseMetadata>\n    <RequestId>ff3b810f-c049-43bc-a9e3-404e3e34618b</RequestId>\n  </ResponseMetadata>\n</ListOrdersResponse>\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/xml"
            },
            {
              "name": "x-amz-date",
              "value": "Thu, 28 May 2020 11:28:53 GMT"
            },
            {
              "name": "x-amzn-authorization",
              "value": "AAA identity=com.amazon.aaa.MarketplaceWebServiceOrders.AndromedaControlService.amzn1.aaa.id.qhz3ylg755gkejyk5sh44qm3wy.Default/1, Operation=ListOrders, Service=MarketplaceWebServiceOrders, Encrypted=false, SignedHeaders=X-Amz-Date, Algorithm=HmacSHA256, Signed=true, Signature=h+ngFnSRx+4gtkNwjOzKzAHBaA0e1mKECZToEVdn9so=,RelationshipVersion=0"
            },
            {
              "name": "x-mws-request-id",
              "value": "ff3b810f-c049-43bc-a9e3-404e3e34618b"
            },
            {
              "name": "x-mws-timestamp",
              "value": "2020-05-28T11:28:53.251Z"
            },
            {
              "name": "x-mws-response-context",
              "value": "WMhSeC+daUi/YSLgipqoMs3Do+ulzKt9mOinVDkek8AmtmuRNWOuAHIOwvmWPDzHUEEOo30Gk2I="
            },
            {
              "name": "x-amz-rid",
              "value": "0ENG475726FG9DBNEA53"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 296,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
