{
  "log": {
    "_recordingName": "reports/should be able to query get report request list",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.2.1"
    },
    "entries": [
      {
        "_id": "42d158f19f642ff1da025e065b80d080",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "AWSAccessKeyId=x&Action=GetReportRequestList&MWSAuthToken=x&SellerId=x&Signature=91h944iGSMZbweEOTyKJO5%2BfbfTGETVa8i5fX%2By%2BgyE%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2020-06-11T07%3A19%3A11.963Z&Version=2009-01-01"
          },
          "queryString": [],
          "url": "https://mws.amazonservices.ca/Reports/2009-01-01"
        },
        "response": {
          "content": {
            "mimeType": "text/xml",
            "size": 2271,
            "text": "<?xml version=\"1.0\"?>\n<GetReportRequestListResponse xmlns=\"http://mws.amazonaws.com/doc/2009-01-01/\">\n  <GetReportRequestListResult>\n    <HasNext>false</HasNext>\n    <ReportRequestInfo>\n      <ReportType>_GET_V2_SETTLEMENT_REPORT_DATA_FLAT_FILE_</ReportType>\n      <ReportProcessingStatus>_DONE_</ReportProcessingStatus>\n      <EndDate>2020-05-22T07:52:49+00:00</EndDate>\n      <Scheduled>false</Scheduled>\n      <ReportRequestId>51778018404</ReportRequestId>\n      <StartedProcessingDate>2020-05-22T08:16:14+00:00</StartedProcessingDate>\n      <SubmittedDate>2020-05-22T08:16:14+00:00</SubmittedDate>\n      <StartDate>2020-04-24T07:52:49+00:00</StartDate>\n      <CompletedDate>2020-05-22T08:16:14+00:00</CompletedDate>\n      <GeneratedReportId>20812705939018404</GeneratedReportId>\n    </ReportRequestInfo>\n    <ReportRequestInfo>\n      <ReportType>_GET_V2_SETTLEMENT_REPORT_DATA_FLAT_FILE_</ReportType>\n      <ReportProcessingStatus>_DONE_</ReportProcessingStatus>\n      <EndDate>2020-04-24T07:52:49+00:00</EndDate>\n      <Scheduled>false</Scheduled>\n      <ReportRequestId>51777018376</ReportRequestId>\n      <StartedProcessingDate>2020-04-24T08:10:53+00:00</StartedProcessingDate>\n      <SubmittedDate>2020-04-24T08:10:53+00:00</SubmittedDate>\n      <StartDate>2020-03-13T07:52:49+00:00</StartDate>\n      <CompletedDate>2020-04-24T08:10:53+00:00</CompletedDate>\n      <GeneratedReportId>20303555135018376</GeneratedReportId>\n    </ReportRequestInfo>\n    <ReportRequestInfo>\n      <ReportType>_GET_V2_SETTLEMENT_REPORT_DATA_FLAT_FILE_</ReportType>\n      <ReportProcessingStatus>_DONE_</ReportProcessingStatus>\n      <EndDate>2020-03-13T07:52:49+00:00</EndDate>\n      <Scheduled>false</Scheduled>\n      <ReportRequestId>51776018334</ReportRequestId>\n      <StartedProcessingDate>2020-03-13T08:21:03+00:00</StartedProcessingDate>\n      <SubmittedDate>2020-03-13T08:21:03+00:00</SubmittedDate>\n      <StartDate>2020-02-14T07:52:49+00:00</StartDate>\n      <CompletedDate>2020-03-13T08:21:03+00:00</CompletedDate>\n      <GeneratedReportId>19571121666018334</GeneratedReportId>\n    </ReportRequestInfo>\n  </GetReportRequestListResult>\n  <ResponseMetadata>\n    <RequestId>0ce2250a-7a94-4868-9bd5-ae2d827bbece</RequestId>\n  </ResponseMetadata>\n</GetReportRequestListResponse>\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/xml"
            },
            {
              "name": "x-mws-quota-max",
              "value": "80.0"
            },
            {
              "name": "x-mws-quota-remaining",
              "value": "80.0"
            },
            {
              "name": "x-mws-quota-[...]
