{
  "log": {
    "_recordingName": "reports/should be able to query get report request list",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.2.1"
    },
    "entries": [
      {
        "_id": "42d158f19f642ff1da025e065b80d080",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "AWSAccessKeyId=x&Action=GetReportRequestList&MWSAuthToken=x&SellerId=x&Signature=R40yysaiKSWcJFfqiKmD2MH%2F7Gz3WLtM7ucCY7ZyQ70%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2020-06-11T08%3A01%3A48.486Z&Version=2009-01-01"
          },
          "queryString": [],
          "url": "https://mws.amazonservices.ca/Reports/2009-01-01"
        },
        "response": {
          "content": {
            "mimeType": "text/xml",
            "size": 4120,
            "text": "<?xml version=\"1.0\"?>\n<GetReportRequestListResponse xmlns=\"http://mws.amazonaws.com/doc/2009-01-01/\">\n  <GetReportRequestListResult>\n    <HasNext>false</HasNext>\n    <ReportRequestInfo>\n      <ReportType>_GET_MERCHANT_LISTINGS_DATA_</ReportType>\n      <ReportProcessingStatus>_DONE_</ReportProcessingStatus>\n      <EndDate>2020-06-11T07:44:22+00:00</EndDate>\n      <Scheduled>false</Scheduled>\n      <ReportRequestId>51781018424</ReportRequestId>\n      <StartedProcessingDate>2020-06-11T07:44:25+00:00</StartedProcessingDate>\n      <SubmittedDate>2020-06-11T07:44:22+00:00</SubmittedDate>\n      <StartDate>2020-06-11T07:44:22+00:00</StartDate>\n      <CompletedDate>2020-06-11T07:44:32+00:00</CompletedDate>\n      <GeneratedReportId>21175694446018424</GeneratedReportId>\n    </ReportRequestInfo>\n    <ReportRequestInfo>\n      <ReportType>_GET_FLAT_FILE_OPEN_LISTINGS_DATA_</ReportType>\n      <ReportProcessingStatus>_DONE_</ReportProcessingStatus>\n      <EndDate>2020-06-11T07:41:44+00:00</EndDate>\n      <Scheduled>false</Scheduled>\n      <ReportRequestId>51780018424</ReportRequestId>\n      <StartedProcessingDate>2020-06-11T07:41:48+00:00</StartedProcessingDate>\n      <SubmittedDate>2020-06-11T07:41:44+00:00</SubmittedD[...]
