{
  "log": {
    "_recordingName": "reports/should succesfully return info on cancelled report requests",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.2.1"
    },
    "entries": [
      {
        "_id": "42d158f19f642ff1da025e065b80d080",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "AWSAccessKeyId=x&Action=CancelReportRequests&MWSAuthToken=x&ReportRequestIdList.Id.1=51783018425&ReportRequestIdList.Id.2=51784018425&SellerId=x&Signature=LQ32GhX9E65fts6JL%2BgKC1nx90NbsG3wDsnV3Hf0vZ4%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2020-06-12T09%3A55%3A45.433Z&Version=2009-01-01"
          },
          "queryString": [],
          "url": "https://mws.amazonservices.ca/Reports/2009-01-01"
        },
        "response": {
          "content": {
            "mimeType": "text/xml",
            "size": 1469,
            "text": "<?xml version=\"1.0\"?>\n<CancelReportRequestsResponse xmlns=\"http://mws.amazonaws.com/doc/2009-01-01/\">\n  <CancelReportRequestsResult>\n    <Count>2</Count>\n    <ReportRequestInfo>\n      <ReportType>_GET_MERCHANT_LISTINGS_ALL_DATA_</ReportType>\n      <ReportProcessingStatus>_DONE_</ReportProcessingStatus>\n      <EndDate>2020-06-12T09:05:48+00:00</EndDate>\n      <Scheduled>false</Scheduled>\n      <ReportRequestId>51783018425</ReportRequestId>\n      <StartedProcessingDate>2020-06-12T09:05:52+00:00</StartedProcessingDate>\n      <SubmittedDate>2020-06-12T09:05:48+00:00</SubmittedDate>\n      <StartDate>2020-06-12T09:05:48+00:00</StartDate>\n      <CompletedDate>2020-06-12T09:05:59+00:00</CompletedDate>\n    </ReportRequestInfo>\n    <ReportRequestInfo>\n      <ReportType>_GET_MERCHANT_LISTINGS_DATA_</ReportType>\n      <ReportProcessingStatus>_DONE_</ReportProcessingStatus>\n      <EndDate>2020-06-12T09:29:10+00:00</EndDate>\n      <Scheduled>false</Scheduled>\n      <ReportRequestId>51784018425</ReportRequestId>\n      <StartedProcessingDate>2020-06-12T09:29:15+00:00</StartedProcessingDate>\n      <SubmittedDate>2020-06-12T09:29:10+00:00</SubmittedDate>\n      <StartDate>2020-06-12T09:29:10+00:00</StartDate>\n      <CompletedDate>2020-06-12T09:29:22+00:00</CompletedDate>\n    </ReportRequestInfo>\n  </CancelReportRequestsResult>\n  <ResponseMetadata>\n    <RequestId>9f748edb-0173-4661-850f-a2ab4f0bf328</RequestId>\n  </ResponseMetadata>\n</CancelReportRequestsResponse>\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/xml"
            },
            {
              "name": "x-mws-quota-max",
              "value": "80.0"
            },
            {
              "name": "x-mws-quota-remaining",
              "value": "79.0"
            },
            {
              "name": "x-mws-quota-[...]
