{
  "log": {
    "_recordingName": "Feeds/should be able to list feed recently submitted",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "5a6ba40da21717e76b8a9ccec14e29cf",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "AWSAccessKeyId=x&Action=GetFeedSubmissionList&MWSAuthToken=x&SellerId=x&Signature=I1GPTb6Hb%2FYsFVDT9BnCjssP%2FNz6OK%2FaEGJVfxp9loY%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2020-06-25T04%3A05%3A26.889Z&Version=2009-01-01"
          },
          "queryString": [],
          "url": "https://mws.amazonservices.ca/Feeds/2009-01-01"
        },
        "response": {
          "content": {
            "mimeType": "text/xml",
            "size": 773,
            "text": "<?xml version=\"1.0\"?>\n<GetFeedSubmissionListResponse xmlns=\"http://mws.amazonaws.com/doc/2009-01-01/\">\n  <GetFeedSubmissionListResult>\n    <HasNext>false</HasNext>\n    <FeedSubmissionInfo>\n      <FeedProcessingStatus>_DONE_</FeedProcessingStatus>\n      <FeedType>_POST_PRODUCT_DATA_</FeedType>\n      <FeedSubmissionId>51793018437</FeedSubmissionId>\n      <StartedProcessingDate>2020-06-24T11:54:04+00:00</StartedProcessingDate>\n      <SubmittedDate>2020-06-24T11:54:00+00:00</SubmittedDate>\n      <CompletedProcessingDate>2020-06-24T11:56:05+00:00</CompletedProcessingDate>\n    </FeedSubmissionInfo>\n  </GetFeedSubmissionListResult>\n  <ResponseMetadata>\n    <RequestId>cee557ee-a810-4bb2-8f80-50240ab2eee7</RequestId>\n  </ResponseMetadata>\n</GetFeedSubmissionListResponse>\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/xml"
            },
            {
              "name": "x-mws-quota-max",
              "value": "80.0"
            },
            {
              "name": "x-mws-quota-remaining",
              "value": "80.0"
            },
            {
              "name": "x-mws-quota[...]
