{
  "log": {
    "_recordingName": "EasyShip/should be able to query service status",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.0.0"
    },
    "entries": [
      {
        "_id": "2fa8682d667bf21e538136f06d6a2f2c",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "AWSAccessKeyId=x&Action=GetServiceStatus&MWSAuthToken=x&SellerId=x&Signature=KWTJsQllbG88cmg7zjOudjGA2T13dowgpIMQ7RD3xXU%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2020-07-24T12%3A24%3A32.804Z&Version=2018-09-01"
          },
          "queryString": [],
          "url": "https://mws.amazonservices.ca/EasyShip/2018-09-01"
        },
        "response": {
          "content": {
            "mimeType": "text/xml",
            "size": 377,
            "text": "<?xml version=\"1.0\"?>\n<GetServiceStatusResponse xmlns=\"https://mws.amazonservices.com/EasyShip/2018-09-01\">\n  <GetServiceStatusResult>\n    <Status>GREEN</Status>\n    <Timestamp>2020-07-24T12:24:32.971Z</Timestamp>\n  </GetServiceStatusResult>\n  <ResponseMetadata>\n    <RequestId>dd14c452-157f-4e3e-a83d-159c8034ce6c</RequestId>\n  </ResponseMetadata>\n</GetServiceStatusResponse>\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/xml"
            },
            {
              "name": "x-amz-rid",
              "value": "16N9ZFXQA1SSTH2BYVA2"
            },
            {
              "name": "x-mws-request-id",
              "value": "dd14c452-157f-4e3e-a83d-159c8034ce6c"
            },
            {
              "name": "x-mws-timestamp",
              "value": "2020-07-24T12:24:32.971Z"
            },
            {
              "name": "x-mws-response-context",
              "value": "wyhqiiiVWXAxb8IRGtmSC3kZ7isVhNEkw14VLrC4wGgdXT6BUB70HyIbuvHlbSpyX4HIjIUOX4k="
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 227,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
