{
  "log": {
    "_recordingName": "reports/should be able to request a report number 2",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.2.1"
    },
    "entries": [
      {
        "_id": "42d158f19f642ff1da025e065b80d080",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "AWSAccessKeyId=x&Action=GetReport&MWSAuthToken=x&ReportId=21175694446018424&SellerId=x&Signature=p7wK9JenfeiR6VyIsyFIypO22haena%2FPkP18J7xR4wA%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2020-06-11T09%3A28%3A59.454Z&Version=2009-01-01"
          },
          "queryString": [],
          "url": "https://mws.amazonservices.ca/Reports/2009-01-01"
        },
        "response": {
          "content": {
            "mimeType": "text/plain;charset=utf-8",
            "size": 1508,
            "text": "﻿item-name\titem-description\tlisting-id\tseller-sku\tprice\tquantity\topen-date\timage-url\titem-is-marketplace\tproduct-id-type\tzshop-shipping-fee\titem-note\titem-condition\tzshop-category1\tzshop-browse-path\tzshop-storefront-feature\tasin1\tasin2\tasin3\twill-ship-internationally\texpedited-shipping\tzshop-boldface\tproduct-id\tbid-for-featured-placement\tadd-delete\tpending-quantity\tfulfillment-channel\tBusiness Price\tQuantity Price Type\tQuantity Lower Bound[...]
