{
  "log": {
    "_recordingName": "reports/should throw error on invalid report request ids",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.2.1"
    },
    "entries": [
      {
        "_id": "42d158f19f642ff1da025e065b80d080",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "AWSAccessKeyId=x&Action=CancelReportRequests&MWSAuthToken=x&ReportRequestIdList.Id.1=51783018499&ReportRequestIdList.Id.2=51784018499&SellerId=x&Signature=6WKk5aD3KHtUTWgOEXEm4ZKdJS10NUameho6i20AnFI%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2020-06-15T08%3A31%3A56.825Z&Version=2009-01-01"
          },
          "queryString": [],
          "url": "https://mws.amazonservices.ca/Reports/2009-01-01"
        },
        "response": {
          "content": {
            "mimeType": "text/xml",
            "size": 339,
            "text": "<?xml version=\"1.0\"?>\n<ErrorResponse xmlns=\"http://mws.amazonaws.com/doc/2009-01-01/\">\n  <Error>\n    <Type>Sender</Type>\n    <Code>InvalidReportRequestId</Code>\n    <Message>One or more of the provided ReportRequestIds could not be found.</Message>\n  </Error>\n  <RequestId>2cfbb31d-b6ac-42b4-a018-11fa95472eb3</RequestId>\n</ErrorResponse>\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/xml"
            },
            {
              "name": "x-mws-quota-max",
              "value": "80.0"
            },
            {
              "name": "x-mws-quota-remaining",
              "value": "78.0"
            },
            {
              "name": "x-mws-quota-resetson",
              "value": "202[...]
