{
  "log": {
    "_recordingName": "Finances/should be able to query service status",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.2.1"
    },
    "entries": [
      {
        "_id": "8e0276da102ca0eb73d8b5f14bb52338",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "AWSAccessKeyId=x&Action=GetServiceStatus&MWSAuthToken=x&SellerId=x&Signature=1IbM8lm7dWWjA%2FS3qQBk3j6QVlBDe7eOwXgtrzjoFlg%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2020-06-18T08%3A53%3A25.664Z&Version=2015-05-01"
          },
          "queryString": [],
          "url": "https://mws.amazonservices.ca/Finances/2015-05-01"
        },
        "response": {
          "content": {
            "mimeType": "text/xml",
            "size": 383,
            "text": "<?xml version=\"1.0\"?>\n<GetServiceStatusResponse xmlns=\"http://mws.amazonservices.com/schema/Finances/2015-05-01\">\n  <GetServiceStatusResult>\n    <Status>GREEN</Status>\n    <Timestamp>2020-06-18T08:53:26.319Z</Timestamp>\n  </GetServiceStatusResult>\n  <ResponseMetadata>\n    <RequestId>fdb55a51-1320-4b53-9ced-ba4a38541c71</RequestId>\n  </ResponseMetadata>\n</GetServiceStatusResponse>\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/xml"
            },
            {
              "name": "x-mws-request-id",
              "value": "fdb55a51-1320-4b53-9ced-ba4a38541c71"
            },
            {
              "name": "x-mws-timestamp",
              "value": "2020-06-18T08:53:26.319Z"
            },
            {
              "name": "x-mws-response-context",
              "value": "e+EaUmxA9dWu6ddltc0ZDMekPJwgEiXhvS6FcrFOGkTdQOpjtWgK0JhQyUPHaZqnaxSQ5CYa1eM="
            },
            {
              "name": "x-amz-rid",
              "value": "BPW5CBN54YPRKW2TZXH3"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 654,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
