{
  "log": {
    "_recordingName": "FulfillmentInboundShipment/should be able to query service status",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.0.0"
    },
    "entries": [
      {
        "_id": "2ec4b04769f06ccd3d9c4247e75347bc",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "AWSAccessKeyId=x&Action=GetServiceStatus&MWSAuthToken=x&SellerId=x&Signature=Rtygz5%2BuwhkAM8lR4FElGKwM9LCjzqHHFk8gi6Y3I9o%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2020-07-09T07%3A26%3A09.730Z&Version=2010-10-01"
          },
          "queryString": [],
          "url": "https://mws.amazonservices.ca/FulfillmentInboundShipment/2010-10-01"
        },
        "response": {
          "content": {
            "mimeType": "text/xml",
            "size": 390,
            "text": "<?xml version=\"1.0\"?>\n<GetServiceStatusResponse xmlns=\"http://mws.amazonaws.com/FulfillmentInboundShipment/2010-10-01/\">\n  <GetServiceStatusResult>\n    <Status>GREEN</Status>\n    <Timestamp>2020-07-09T07:26:09.947Z</Timestamp>\n  </GetServiceStatusResult>\n  <ResponseMetadata>\n    <RequestId>e82392e4-708c-432e-836f-11c0b367f84a</RequestId>\n  </ResponseMetadata>\n</GetServiceStatusResponse>\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/xml"
            },
            {
              "name": "x-mws-request-id",
              "value": "e82392e4-708c-432e-836f-11c0b367f84a"
            },
            {
              "name": "x-mws-timestamp",
              "value": "2020-07-09T07:26:09.947Z"
            },
            {
              "name": "x-mws-response-context",
              "value": "xVcZ++rIA80XY2fdowoF/LxpeW7CHN2MQyirAlwY6i2qG9umsOSj95OI2mJ43TMboFSD+28To30="
            },
            {
              "name": "x-amz-rid",
              "value": "1EKM2MEPE537YTVYK4M5"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 216,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
