{
  "log": {
    "_recordingName": "reports/should be able to query get report count",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.2.1"
    },
    "entries": [
      {
        "_id": "42d158f19f642ff1da025e065b80d080",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "AWSAccessKeyId=x&Action=GetReportCount&MWSAuthToken=x&SellerId=x&Signature=3mwKf1PLioH3H9fvooOOLD17xJJ3FTRSDkN7puB34tE%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2020-06-11T10%3A45%3A59.550Z&Version=2009-01-01"
          },
          "queryString": [],
          "url": "https://mws.amazonservices.ca/Reports/2009-01-01"
        },
        "response": {
          "content": {
            "mimeType": "text/xml",
            "size": 301,
            "text": "<?xml version=\"1.0\"?>\n<GetReportCountResponse xmlns=\"http://mws.amazonaws.com/doc/2009-01-01/\">\n  <GetReportCountResult>\n    <Count>4</Count>\n  </GetReportCountResult>\n  <ResponseMetadata>\n    <RequestId>fb099b2a-af7d-4768-8575-99f37e1e707f</RequestId>\n  </ResponseMetadata>\n</GetReportCountResponse>\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/xml"
            },
            {
              "name": "x-mws-quota-max",
              "value": "80.0"
            },
            {
              "name": "x-mws-quota-remaining",
              "value": "80.0"
            },
            {
              "name": "x-mws-quota-resets[...]
