{
  "log": {
    "_recordingName": "Feeds/should be able to submit sample feed",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "d8629899729c640584baef2db86f2622",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "text/xml"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "text/xml",
            "params": [],
            "text": "<?xml version=\"1.0\" encoding=\"iso-8859-1\"?>\n<AmazonEnvelope xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:noNamespaceSchemaLocation=\"amzn-envelope.xsd\">\n  <Header>\n    <DocumentVersion>1.01</DocumentVersion>\n    <MerchantIdentifier>M_EXAMPLE_123456</MerchantIdentifier>\n  </Header>\n  <MessageType>Product</MessageType>\n  <PurgeAndReplace>false</PurgeAndReplace>\n  <Message>\n    <MessageID>1</MessageID>\n    <OperationType>Update</OperationType>\n    <Product>\n      <SKU>56789</SKU>\n      <StandardProductID>\n        <Type>ASIN</Type>\n        <Value>B0EXAMPLEG</Value>\n      </StandardProductID>\n      <ProductTaxCode>A_GEN_NOTAX</ProductTaxCode>\n      <DescriptionData>\n        <Title>Example Product Title</Title>\n        <Brand>Example Product Brand</Brand>\n        <Description>This is an example product description.</Description>\n        <BulletPoint>Example Bullet Point 1</BulletPoint>\n        <BulletPoint>Example Bullet Point 2</BulletPoint>\n        <MSRP currency=\"USD\">25.19</MSRP>\n        <Manufacturer>Example Product Manufacturer</Manufacturer>\n        <ItemType>example-item-type</ItemType>\n      </DescriptionData>\n      <ProductData>\n        <Health>\n          <ProductType>\n            <HealthMisc>\n              <Ingredients>Example Ingredients</Ingredients>\n              <Directions>Example Directions</Directions>\n            </HealthMisc>\n          </ProductType>\n        </Health>\n      </ProductData>\n    </Product>\n  </Message>\n</AmazonEnvelope>\n"
          },
          "queryString": [
            {
              "name": "AWSAccessKeyId",
              "value": "AKIAIAIAAT7ND54ZZHCA"
            },
            {
              "name": "Action",
              "value": "SubmitFeed"
            },
            {
              "name": "ContentMD5Value",
              "value": "bDhJasSNYDMcVWyPpo+vyw=="
            },
            {
              "name": "FeedType",
              "value": "_POST_PRODUCT_DATA_"
            },
            {
              "name": "MWSAuthToken",
              "value": "amzn.mws.ceb0168c-9b0a-a870-3728-898489b540f5"
            },
            {
              "name": "SellerId",
              "value": "AUZWHWR0590BC"
            },
            {
              "name": "Signature",
              "value": "tD7hfvr0yP7yyImiKckwTzYQvJOV2SUbWH9r8YMblRw="
            },
            {
              "name": "SignatureMethod",
              "value": "HmacSHA256"
            },
            {
              "name": "SignatureVersion",
              "value": "2"
            },
            {
              "name": "Timestamp",
              "value": "2020-06-25T13:07:07.903Z"
            },
            {
              "name": "Version",
              "value": "2009-01-01"
            }
          ],
          "url": "https://mws.amazonservices.ca/Feeds/2009-01-01?AWSAccessKeyId=x&Action=SubmitFeed&ContentMD5Value=bDhJasSNYDMcVWyPpo%2Bvyw%3D%3D&FeedType=_POST_PRODUCT_DATA_&MWSAuthToken=x&SellerId=x&Signature=tD7hfvr0yP7yyImiKckwTzYQvJOV2SUbWH9r8YMblRw%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2020-06-25T13%3A07%3A07.903Z&Version=2009-01-01"
        },
        "response": {
          "content": {
            "mimeType": "text/xml",
            "size": 486,
            "text": "<?xml version=\"1.0\"?>\n<SubmitFeedResponse xmlns=\"http://mws.amazonaws.com/doc/2009-01-01/\"><SubmitFeedResult><FeedSubmissionInfo><FeedSubmissionId>51800018438</FeedSubmissionId><FeedType>_POST_PRODUCT_DATA_</FeedType><SubmittedDate>2020-06-25T13:07:08+00:00</SubmittedDate><FeedProcessingStatus>_SUBMITTED_</FeedProcessingStatus></FeedSubmissionInfo></SubmitFeedResult><ResponseMetadata><RequestId>99cb54df-69c2-454d-b0aa-49da94092d18</RequestId></ResponseMetadata></SubmitFeedResponse>"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/xml"
            },
            {
              "name": "x-mws-quota-max",
              "value": "30.0"
            },
            {
              "name": "x-mws-quota-remaining",
              "value": "29.0"
            },
            {
              "name": "x-mws-quota-resetson",
              "value": "2020-06-25T13:12:00.000Z"
            },
            {
              "name": "x-mws-response-context",
              "value": "9PSFFB/bO20TBQPIsEe0gkTrY8ufWcBnKlJDU3m8+3RcKGX3yXR5LXM8pNeHS4ir8cGFalY0wQI=, 3nlbmsxkAzfsqB1kAxdwxr4DkR+uGUamiWmBtsFySulWScnsQb5MU53w0jiG1Ify/CNjGzJ2uao="
            },
            {
              "name": "x-amz-request-id",
              "value": "99cb54df-69c2-454d-b0aa-49da94092d18"
            },
            {
              "name": "x-mws-request-id",
              "value": "99cb54df-69c2-454d-b0aa-49da94092d18"
            },
            {
              "name": "x-mws-timestamp",
              "value": "2020-06-25T13:07:08.265Z"
            },
            {
              "name": "x-amz-rid",
              "value": "A2GEZ93HB45VKJK4JS45"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 734,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
