{
  "log": {
    "_recordingName": "Feeds/should be able to submit sample feed",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "b77e14b14212663f30fd570564248e88",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "text/xml"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "text/xml",
            "params": [],
            "text": "<?xml version=\"1.0\" encoding=\"iso-8859-1\"?>\n<AmazonEnvelope xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:noNamespaceSchemaLocation=\"amzn-envelope.xsd\">\n  <Header>\n    <DocumentVersion>1.01</DocumentVersion>\n    <MerchantIdentifier>M_EXAMPLE_123456</MerchantIdentifier>\n  </Header>\n  <MessageType>Product</MessageType>\n  <PurgeAndReplace>false</PurgeAndReplace>\n  <Message>\n    <MessageID>1</MessageID>\n    <OperationType>Update</OperationType>\n    <Product>\n      <SKU>56789</SKU>\n      <StandardProductID>\n        <Type>ASIN</Type>\n        <Value>B0EXAMPLEG</Value>\n      </StandardProductID>\n      <ProductTaxCode>A_GEN_NOTAX</ProductTaxCode>\n      <DescriptionData>\n        <Title>Example Product Title</Title>\n        <Brand>Example Product Brand</Brand>\n        <Description>This is an example product description.</Description>\n        <BulletPoint>Example Bullet Point 1</BulletPoint>\n        <BulletPoint>Example Bullet Point 2</BulletPoint>\n        <MSRP currency=\"USD\">25.19</MSRP>\n        <Manufacturer>Example Product Manufacturer</Manufacturer>\n        <ItemType>example-item-type</ItemType>\n      </DescriptionData>\n      <ProductData>\n        <Health>\n          <ProductType>\n            <HealthMisc>\n              <Ingredients>Example Ingredients</Ingredients>\n              <Directions>Example Directions</Directions>\n            </HealthMisc>\n          </ProductType>\n        </Health>\n      </ProductData>\n    </Product>\n  </Message>\n</AmazonEnvelope>\n\n<!-- <AmazonEnvelope xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:noNamespaceSchemaLocation=\"amzn-envelope.xsd\">\n  <Header>\n    <DocumentVersion>1.01</DocumentVersion>\n    <MerchantIdentifier>M_EXAMPLE_123456</MerchantIdentifier>\n  </Header>\n  <MessageType>Product</MessageType>\n  <PurgeAndReplace>f[...]
