{
  "log": {
    "_recordingName": "Feeds/should be able to submit sample feed",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "2d887d720084d9bf2935c20a66477bd6",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "text/xml"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "text/xml",
            "params": [],
            "text": "<?xml version=\"1.0\" encoding=\"iso-8859-1\"?>\n<AmazonEnvelope xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:noNamespaceSchemaLocation=\"amzn-envelope.xsd\">\n  <Header>\n    <DocumentVersion>1.01</DocumentVersion>\n    <MerchantIdentifier>M_EXAMPLE_123456</MerchantIdentifier>\n  </Header>\n  <MessageType>Product</MessageType>\n  <PurgeAndReplace>false</PurgeAndReplace>\n  <Message>\n    <MessageID>1</MessageID>\n    <OperationType>Update</OperationType>\n    <Product>\n      <SKU>56789</SKU>\n      <StandardProductID>\n        <Type>ASIN</Type>\n        <Value>B0EXAMPLEG</Value>\n      </StandardProductID>\n      <ProductTaxCode>A_GEN_NOTAX</ProductTaxCode>\n      <DescriptionData>\n        <Title>Example Product Title</Title>\n        <Brand>Example Product Brand</Brand>\n        <Description>This is an example product description.</Description>\n        <BulletPoint>Example Bullet Point 1</BulletPoint>\n        <BulletPoint>Example Bullet Point 2</BulletPoint>\n        <MSRP currency=\"USD\">25.19</MSRP>\n        <Manufacturer>Example Product Manufacturer</Manufacturer>\n        <ItemType>example-item-type</ItemType>\n      </DescriptionData>\n      <ProductData>\n        <Health>\n          <ProductType>\n            <HealthMisc>\n              <Ingredients>Example Ingredients</Ingredients>\n              <Directions>Example Directions</Directions>\n            </HealthMisc>\n          </ProductType>\n        </Health>\n      </ProductData>\n    </Product>\n  </Message>\n</AmazonEnvelope>\n"
          },
          "queryString": [
            {
              "name": "AWSAccessKeyId",
              "value": "AKIAIAIAAT7ND54ZZHCA"
            },
            {
              "name": "Action",
              "value": "SubmitFeed"
            },
            {
              "name": "ContentMD5Value",
              "value": "bDhJasSNYDMcVWyPpo+vyw=="
            },
            {
              "name": "FeedType",
              "value": "_POST_PRODUCT_DATA_"
            },
            {
              "name": "MWSAuthToken",
              "value": "amzn.mws.ceb0168c-9b0a-a870-3728-898489b540f5"
            },
            {
              "name": "SellerId",
              "value": "AUZWHWR0590BC"
            },
            {
              "name": "Signature",
              "value": "jO9GqAqcxYSTinS2OHUq/iPJ4AY6obzRVdzCa0ETCWg="
            },
            {
              "name": "SignatureMethod",
              "value": "HmacSHA256"
            },
            {
              "name": "SignatureVersion",
              "value": "2"
            },
            {
              "name": "Timestamp",
              "value": "2020-06-25T08:05:29.598Z"
            },
            {
              "name": "Version",
              "value": "2009-01-01"
            }
          ],
          "url": "https://mws.amazonservices.ca/Feeds/2009-01-01?AWSAccessKeyId=x&Action=SubmitFeed&ContentMD5Value=bDhJasSNYDMcVWyPpo%2Bvyw%3D%3D&FeedType=_POST_PRODUCT_DATA_&MWSAuthToken=x&SellerId=x&Signature=jO9GqAqcxYSTinS2OHUq%2FiPJ4AY6obzRVdzCa0ETCWg%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2020-06-25T08%3A05%3A29.598Z&Version=2009-01-01"
        },
        "response": {
          "content": {
            "mimeType": "text/xml",
            "size": 486,
            "text": "<?xml version=\"1.0\"?>\n<SubmitFeedResponse xmlns=\"http://mws.amazonaws.com/doc/2009-01-01/\"><SubmitFeedResult><FeedSubmissionInfo><FeedSubmissionId>51796018438</FeedSubmissionId><FeedType>_POST_PRODUCT_DATA_</FeedType><SubmittedDate>2020-06-25T08:05:29+00:00</SubmittedDate><FeedProcessingStatus>_SUBMITTED_</FeedProcessingStatus></FeedSubmissionInfo></SubmitFeedResult><ResponseMetadata><RequestId>3e366c07-21fd-4340-8901-62f4d5285598</RequestId></ResponseMetadata></SubmitFeedResponse>"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/xml"
            },
            {
              "name": "x-mws-quota-max",
              "value": "30.0"
            },
            {
              "name": "x-mws-quota-remaining",
              "value": "30.0"
            },
            {
              "name": "x-mws-quota-resetson",
              "value": "2020-06-25T08:12:00.000Z"
            },
            {
              "name": "x-mws-response-context",
              "value": "9fH2ARgFhd7xucR6KqQh3Oy61nEbNC0ilhrCg+ztaOjxDIGRu9ObnFM++8IDvPHuhraV/aeSBIo=, JeafZDX229ySZig1N4rlgIn5dszsUF9mAiojZ7VTardGqrt22VmV/6a22Yf1phfZoC7TyPOzR0s="
            },
            {
              "name": "x-amz-request-id",
              "value": "3e366c07-21fd-4340-8901-62f4d5285598"
            },
            {
              "name": "x-mws-request-id",
              "value": "3e366c07-21fd-4340-8901-62f4d5285598"
            },
            {
              "name": "x-mws-timestamp",
              "value": "2020-06-25T08:05:29.631Z"
            },
            {
              "name": "x-amz-rid",
              "value": "5DM3P7JGQV4DXVFSFN4C"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 387,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
