{
  "log": {
    "_recordingName": "subscriptions/should be able to query service status",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.2.1"
    },
    "entries": [
      {
        "_id": "2705f105dea6682c09dee8853cb9884d",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "AWSAccessKeyId=x&Action=GetServiceStatus&MWSAuthToken=x&SellerId=x&Signature=py59%2BCQTQrkcSJug585cny9moQh3skeAHEIGRvTcvvQ%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2020-06-15T10%3A24%3A47.126Z&Version=2013-07-01"
          },
          "queryString": [],
          "url": "https://mws.amazonservices.ca/Subscriptions/2013-07-01"
        },
        "response": {
          "content": {
            "mimeType": "text/xml",
            "size": 388,
            "text": "<?xml version=\"1.0\"?>\n<GetServiceStatusResponse xmlns=\"http://mws.amazonservices.com/schema/Subscriptions/2013-07-01\">\n  <GetServiceStatusResult>\n    <Status>GREEN</Status>\n    <Timestamp>2020-06-15T10:24:47.768Z</Timestamp>\n  </GetServiceStatusResult>\n  <ResponseMetadata>\n    <RequestId>85280c95-13d8-4c4c-aaea-a50ee579de36</RequestId>\n  </ResponseMetadata>\n</GetServiceStatusResponse>\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/xml"
            },
            {
              "name": "x-mws-request-id",
              "value": "85280c95-13d8-4c4c-aaea-a50ee579de36"
            },
            {
              "name": "x-mws-timestamp",
              "value": "2020-06-15T10:24:47.768Z"
            },
            {
              "name": "x-mws-response-context",
              "value": "AQIuAlMWsflB3uM3vpW4Em6NiuF5XMtPFqh/UGpWI+g+YqqtRNjCGbW3VTSRMIJ3LYPAD+EvIf0="
            },
            {
              "name": "x-amz-rid",
              "value": "410N3QGRTK1M0JXXRYVQ"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 643,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
