{
  "log": {
    "_recordingName": "Finances/list financial event groups should post succesfully with a basic request",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.2.1"
    },
    "entries": [
      {
        "_id": "8e0276da102ca0eb73d8b5f14bb52338",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "AWSAccessKeyId=x&Action=ListFinancialEventGroups&FinancialEventGroupStartedAfter=2020-01-21T13%3A55%3A11.893Z&MWSAuthToken=x&SellerId=x&Signature=1FB%2BzgW6cABJq5%2F7MLYAHLKQHhGUL8NPlSREHX%2FL3%2Bc%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2020-06-19T13%3A55%3A11.913Z&Version=2015-05-01"
          },
          "queryString": [],
          "url": "https://mws.amazonservices.ca/Finances/2015-05-01"
        },
        "response": {
          "content": {
            "mimeType": "text/xml",
            "size": 4913,
            "text": "<ListFinancialEventGroupsResponse xmlns=\"http://mws.amazonservices.com/Finances/2015-05-01\">\n  <ListFinancialEventGroupsResult>\n    <FinancialEventGroupList>\n      <FinancialEventGroup>\n        <OriginalTotal>\n          <CurrencyAmount>0.00</CurrencyAmount>\n          <CurrencyCode>CAD</CurrencyCode>\n        </OriginalTotal>\n        <ProcessingStatus>Open</ProcessingStatus>\n        <BeginningBalance>\n          <CurrencyAmount>-29.99</CurrencyAmount>\n          <CurrencyCode>CAD</CurrencyCode>\n        </BeginningBalance>\n        <FinancialEventGroupId>d7XWb7A0XhXwMZPaXwNkunwDJ_HU29LGhTPZxdZTJSs</FinancialEventGroupId>\n        <FinancialEventGroupStart>2020-06-19T07:52:49.780Z</FinancialEventGroupStart>\n      </FinancialEventGroup>\n      <FinancialEventGroup>\n        <OriginalTotal>\n          <CurrencyAmount>-29.99</CurrencyAmount>\n          <CurrencyCode>CAD</CurrencyCode>\n        </OriginalTotal>\n        <FinancialEventGroupEnd>2020-06-19T07:52:49.780Z</FinancialEventGroupEnd>\n        <ProcessingStatus>Closed</ProcessingStatus>\n        <BeginningBalance>\n          <CurrencyAmount>-29.99</CurrencyAmount>\n          <CurrencyCode>CAD</CurrencyCode>\n        </BeginningBalance>\n        <FinancialEventGroupId>7xA1rnz3PldGOEWMQfzsV9AaKdIDFTv7MvDibbtFi7g</FinancialEventGroupId>\n        <FundTransferStatus>Unknown</FundTransferStatus>\n        <FinancialEventGroupStart>2020-05-22T07:52:49.112Z</FinancialEventGroupStart>\n        <FundTransferDate>2020-06-19T07:52:49.780Z</FundTransferDate>\n      </FinancialEventGroup>\n      <FinancialEventGroup>\n        <OriginalTotal>\n          <CurrencyAmount>-29.99</CurrencyAmount>\n          <CurrencyCode>CAD</CurrencyCode>\n        </OriginalTotal>\n        <FinancialEventGroupEnd>2020-05-22T07:52:49.112Z</FinancialEventGroupEnd>\n        <ProcessingStatus>Closed</ProcessingStatus>\n        <BeginningBalance>\n          <CurrencyAmount>-29.99</CurrencyAmount>\n          <CurrencyCode>CAD</Curren[...]
