{
  "log": {
    "_recordingName": "Feeds/should be able to get an XML string and parse it to JSON from get submission result",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.0.0"
    },
    "entries": [
      {
        "_id": "5a6ba40da21717e76b8a9ccec14e29cf",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "AWSAccessKeyId=x&Action=GetFeedSubmissionResult&FeedSubmissionId=51793018437&MWSAuthToken=x&SellerId=x&Signature=gZWlx3%2BIO9AQLUmN%2Fxr%2FclDh3mic8Bqz56gQ7QrFTwc%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2020-08-10T11%3A04%3A18.613Z&Version=2009-01-01"
          },
          "queryString": [],
          "url": "https://mws.amazonservices.ca/Feeds/2009-01-01"
        },
        "response": {
          "content": {
            "mimeType": "text/xml;charset=UTF-8",
            "size": 767,
            "text": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<AmazonEnvelope xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:noNamespaceSchemaLocation=\"amzn-envelope.xsd\">\n\t<Header>\n\t\t<DocumentVersion>1.02</DocumentVersion>\n\t\t<MerchantIdentifier>x</MerchantIdentifier>\n\t</Header>\n\t<MessageType>ProcessingReport</MessageType>\n\t<Message>\n\t\t<MessageID>1</MessageID>\n\t\t<ProcessingReport>\n\t\t\t<DocumentTransactionID>51793018437</DocumentTransactionID>\n\t\t\t<StatusCode>Complete</StatusCode>\n\t\t\t<ProcessingSummary>\n\t\t\t\t<MessagesProcessed>1</MessagesProcessed>\n\t\t\t\t<MessagesSuccessful>1</MessagesSuccessful>\n\t\t\t\t<MessagesWithError>0</MessagesWithError>\n\t\t\t\t<MessagesWithWarning>0</MessagesWithWarning>\n\t\t\t</ProcessingSummary>\n\t\t</ProcessingReport>\n\t</Message>\n</AmazonEnvelope>"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/xml;charset=UTF-8"
            },
            {
              "name": "x-amz-rid",
              "value": "C0TR2Q2S908YTQQ49VCX"
            },
            {
              "name": "x-mws-quota-max",
              "value": "60.0"
            },
            {
              "name": "x-mws-quota-remaining",
              "value": "60.0"
            },
            {
              "name": "x-mws-quota-resetson",
              "value": "2020-08-10T11:12:00.000Z"
            },
            {
              "name": "content-md5",
              "value": "FpVKsK8kc9xwhwjoVLkt4Q=="
            },
            {
              "name": "x-mws-response-context",
              "value": "GTTPbUJdfyJQVfBeGnCiLJGLfXiQiQuxmDafrSbhG3BsLinowLRrBTANC1c7r5kmOuL4fOcL1ds=, Gw47a512r3p0MM+NNPjHceTdTDfWyW49mEVf2wkw7o1+15p9djtcKPlcaKdOoFmg8LaSmYXJHFI="
            },
            {
              "name": "x-amz-request-id",
              "value": "cbf80a96-38e4-480d-b9d4-0167e80afbdd"
            },
            {
              "name": "x-mws-request-id",
              "value": "cbf80a96-38e4-480d-b9d4-0167e80afbdd"
            },
            {
              "name": "x-mws-timestamp",
              "value": "2020-08-10T11:04:18.846Z"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 369,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
