{
  "log": {
    "_recordingName": "reports/should succesfully get report schedule count",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.2.1"
    },
    "entries": [
      {
        "_id": "42d158f19f642ff1da025e065b80d080",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "AWSAccessKeyId=x&Action=GetReportScheduleCount&MWSAuthToken=x&SellerId=x&Signature=ylEeiJ8E3luKcxo3YfewMePBpdu9xAwUgl93yBUqZjE%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2020-06-12T01%3A51%3A19.271Z&Version=2009-01-01"
          },
          "queryString": [],
          "url": "https://mws.amazonservices.ca/Reports/2009-01-01"
        },
        "response": {
          "content": {
            "mimeType": "text/xml",
            "size": 333,
            "text": "<?xml version=\"1.0\"?>\n<GetReportScheduleCountResponse xmlns=\"http://mws.amazonaws.com/doc/2009-01-01/\">\n  <GetReportScheduleCountResult>\n    <Count>0</Count>\n  </GetReportScheduleCountResult>\n  <ResponseMetadata>\n    <RequestId>ec7db8fc-a6c4-4c35-87d7-3d11ebf7b916</RequestId>\n  </ResponseMetadata>\n</GetReportScheduleCountResponse>\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/xml"
            },
            {
              "name": "x-mws-quota-max",
              "value": "80.0"
            },
            {
              "name": "x-mws-quota-remaining",
              "value": "80.0"
            },
            {
              "name": "x-mws-quot[...]
